// Color scheme
$primary: #048a10;
$secondary: #f8f1f0;
$tertiary: #858282;
$accent: #dcf3de;
$mainhead: #000000;
$text: #262726;
$white: #f5f5f5;
$transparent: rgba(192, 221, 194, 0.158);

main {
  min-height: 100vh;

  .main {
    /*Main styles*/
    width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: space-between;

    .slide {
      width: 85%;
      border-radius: 0.3rem;
      margin-bottom: 0;
      position: relative;

      .carousel-inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }

      .carousel-item {
        margin: 20vh 0 0 0;
        width: 45rem;
        text-align: center;
      }

      img {
        height: 30rem;
      }

      .carousel-caption {
        position: absolute;
        height: fit-content;
        width: fit-content;
        top: -10rem;
      }

      h5 {
        font-size: 4rem;
      }

      a {
        text-transform: uppercase;
        color: $white;
        background: $primary;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.2rem;
        text-decoration: none;

        /*Main carousel end*/
      }
    }
  }
}
