// Color scheme
$primary: #048a10;
$white: #f5f5f5;
$tertiary: #858282;
$accent: #dcf3de;
$mainhead: #000000;
$text: #262726;
$transparent: rgba(134, 238, 141, 0.158);

body {
  min-width: 100vh;
  position: relative;

  .top-btn {
    position: fixed;
    right: 5rem;
    top: -5rem;
    z-index: 500;
    height: 3.5rem;
    width: 3.5rem;
    color: white;
    background: $primary;
    font-size: 1.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
      color: $white;
    }
  }

  main {
    margin-top: 10vh;

    .new {
      text-align: center;

      h1 {
        font-size: 4rem;
        margin: 0;
      }

      a {
        padding: 0.2rem 0.3rem;
        margin-bottom: 3rem;
        color: $primary;
        text-decoration: none;
        border-radius: 0.1rem;
        font-size: 1rem;
        transition: 0.4s ease-in-out;

        &:hover {
          color: $white;
          background: $primary;
        }
      }

      .order {
        width: 60%;
        margin: 4rem auto 1rem auto;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(
          45deg,
          #56ab2f,
          #a8e063,
          #f1d742,
          #ff9966,
          #ff5e62
        );
        background-size: 600%;
        color: transparent;
        animation: text-bg 15s infinite alternate;
        border: 1px solid rgb(221, 221, 221);

        h2 {
          font-size: 2.5rem;
          margin: 1rem auto;
        }

        img {
          height: 7rem;
          margin: 1rem;
        }

        p {
          line-height: 2;
          color: white;
          margin: 1rem;
        }

        > a {
          margin-top: 1rem;
          background: $primary;
          color: $white;
          text-transform: uppercase;
          padding: 0.5rem 1rem;

          &:hover {
            background: $text;
          }
        }

        span {
          text-transform: uppercase;
          text-decoration: underline;

          a {
            color: white;

            &:hover {
              background: transparent;
              color: $text;
            }
          }
        }
      }
    }

    .billing {
      /*Checkout styles*/
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      min-height: 100vh;
      margin: 1rem;

      .main-form {
        min-height: 100vh;
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

        h3 {
          margin: 1rem;
          text-align: left;
          font-size: 2rem;
        }

        form {
          display: flex;
          flex-direction: column;
          width: 90%;
          border: 1px solid $tertiary;
          outline: 1px solid $tertiary;
          outline-offset: -4px;
          padding: 1.5rem;

          label {
            text-transform: uppercase;
            font-weight: 500;
            margin: 0.2rem 0;

            small {
              color: $tertiary;
            }
          }

          input {
            height: 2.5rem;
            background: $white;
            outline: none;
            border-radius: 0.2rem;
            padding: 0 0.5em;
            box-shadow: inset 1px 1px 2px rgb(169, 170, 169);
          }

          .opt {
            display: flex;
            flex-direction: column;
            background: $white;
            padding: 0 0.5rem;
            border-radius: 0.2rem;
            box-shadow: 1px 1px 2px rgb(169, 170, 169);

            select {
              width: 100%;
              background: $white;
              height: 2.8rem;
              color: $tertiary;
              outline: none;

              option {
                padding: 1rem;
                color: $tertiary;
              }
            }
          }

          .check {
            height: 1rem;
            color: $primary;
            box-shadow: none;
            margin-right: auto;
          }

          textarea {
            background: $white;
            outline: none;
            border-radius: 0.2rem;
            padding: 0.5rem 1rem;
            height: 10rem;
            resize: none;
            box-shadow: inset 1px 1px 2px rgb(169, 170, 169);
          }
        }
      }

      aside {
        background: url(../Images/bg/checkout_sidebar_bg.png);
        padding: 1rem;
        width: 25vw;
        height: 70%;

        h3 {
          margin: 1rem 0;
          text-align: left;
          font-size: 2rem;
          padding-bottom: 2rem;
          border-bottom: 1px dotted rgb(221, 221, 221);
        }

        ul {
          margin: 2rem 0;
          list-style: none;
          text-align: left;
          padding: 0 0 2rem 0;
          display: flex;
          flex-direction: column;
          border-bottom: 1px dotted rgb(221, 221, 221);

          li {
            width: 100%;
            margin: 0.5rem 0;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;

            span {
              display: flex;
              flex-direction: column;
              width: 50%;

              .group {
                margin: 0.5rem 0;

                label {
                  font-weight: normal;
                  text-transform: uppercase;
                }
              }
            }
          }
        }

        p {
          width: 100%;
          margin: 0.5rem 0;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-transform: uppercase;
          padding-bottom: 2rem;
          border-bottom: 1px dotted rgb(221, 221, 221);

          span {
            display: flex;
            width: 50%;
            font-size: 1.5rem;
          }
        }

        .side-form1,
        .side-form2 {
          width: 100%;
          margin: 1.5rem 0 1rem 0;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          padding-bottom: 2rem;
          border-bottom: 1px dotted rgb(221, 221, 221);

          label {
            margin-left: 0.5rem;
          }
        }

        .side-form3,
        .side-form4 {
          width: 100%;
          margin: 1.85rem 0 1rem 0;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          text-transform: uppercase;
          padding-bottom: 2rem;
          border-bottom: 1px dotted rgb(221, 221, 221);

          label {
            margin-left: 0.5rem;
          }

          img {
            margin-left: auto;
          }

          li {
            list-style: none;
            text-transform: none;
            text-align: left;
            color: $tertiary;
            font-size: 0.9rem;
            margin-top: 0.3rem;
          }
        }

        .side-form5 {
          width: 100%;
          margin: 2rem 0 2rem 0;
          display: flex;

          input {
            margin: 0.5rem 0 0 0;
          }
        }

        a {
          border: 1px solid $primary;
          padding: 0.5rem 1rem;
          box-shadow: 2px 2px 5px #777;
          border-radius: 0.1rem;
          text-transform: uppercase;
          /*Checkout styles end*/
        }
      }
    }

    .testimonials {
      height: 100vh;
      width: 100%;
      text-align: center;

      h1 {
        font-size: 4rem;
        margin: 1rem auto;
        position: relative;
        display: inline-block;
        width: fit-content;

        &::after {
          content: '';
          margin: auto;
          position: absolute;
          bottom: -30%;
          left: 30%;
          width: 100%;
          height: 30px;
          background: url(/Images/images/title_shape.png) no-repeat;
        }
      }

      .reviews {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
        height: 80%;
        border-bottom: 0.01rem solid rgb(221, 221, 221);

        .swiper-container {
          width: 100%;
          padding-top: 4rem;
          padding-bottom: 4rem;
        }

        .swiper-slide {
          background-position: center;
          background-size: cover;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          width: 23rem;
          height: 23rem;
          background: $white;
          box-shadow: none;
          padding: 1rem;
          border-radius: 0.2rem;
          margin: 0 1rem;
          position: relative;

          &::after {
            content: url(../Images/icon/testi_quote.png);
            position: absolute;
            bottom: -10rem;
            width: 100%;
            height: 100%;
          }

          h4 {
            font-size: 1.5rem;
            margin-bottom: 0;
          }

          p {
            color: $tertiary;
            margin: 0;
          }

          i {
            color: $primary;
          }

          article {
            color: $tertiary;
            font-size: 0.9rem;
            font-style: italic;
            padding: 1rem;
            margin-bottom: 1rem;
          }
        }

        .swiper-slide img {
          display: block;
          width: 20%;
          height: 20%;
        }

        .swiper-pagination {
          cursor: pointer;
        }
      }
    }

    .main {
      text-align: center;

      h1 {
        font-size: 4rem;
        margin: 0;
      }

      a {
        padding: 0.2rem 0.3rem;
        margin-bottom: 3rem;
        color: $primary;
        text-decoration: none;
        border-radius: 0.1rem;
        font-size: 1rem;
        transition: 0.4s ease-in-out;

        &:hover {
          color: $white;
          background: $primary;
        }
      }

      .content {
        /*About Us Start*/
        width: 90%;
        display: flex;
        margin: 2rem auto;

        img {
          border-radius: 0.2rem;
          height: 30rem;
        }

        .info {
          padding: 0 2rem;
          margin: 1rem 2rem;

          h2 {
            font-size: 3rem;
            text-align: left;
          }

          article {
            text-align: left;

            p {
              color: $tertiary;
              line-height: 2;
            }
          }

          h3 {
            color: $primary;
            font-size: 2rem;
            margin: 1rem 0;
            text-align: left;
            padding: 1rem 0;
            border-bottom: 0.02rem solid rgb(221, 221, 221);
          }

          .icons {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-around;
            padding: 1rem 0;

            .items {
              display: flex;
              align-items: center;
              justify-content: space-around;

              i {
                font-size: 2rem;
                color: $tertiary;
                margin-right: 1rem;
              }

              .text {
                display: flex;
                flex-direction: column;
                align-items: center;

                h4 {
                  font-size: 1.7rem;
                  font-weight: bolder;
                }

                p {
                  color: $tertiary;
                  font-size: 0.9rem;
                }
              }
            }
          }
        }
      }

      .experience {
        height: 100vh;
        width: 100%;
        background: $white;
        padding: 2rem;

        h1 {
          font-size: 4rem;
          margin: 1rem auto;
          position: relative;
          display: inline-block;
          width: fit-content;

          &::after {
            content: '';
            margin: auto;
            position: absolute;
            bottom: -30%;
            left: 25%;
            width: 100%;
            height: 30px;
            background: url(/Images/images/title_shape.png) no-repeat;
          }
        }

        .container {
          padding: 1rem;
          width: 80%;
          margin: 6rem auto;

          .cardd {
            background: white;
            margin: 2rem 1.5rem;
            padding: 1rem;
            border-radius: 0.2rem;
            box-shadow: 2px 2px 5px rgb(169, 170, 169);
            text-align: left;
            line-height: 2;
            transition: 0.5s ease-in-out;

            &:hover {
              transform: scale(1.05);

              i {
                transform: rotateY(360deg);
                color: $primary;
              }
            }

            i {
              font-size: 3rem;
              margin: 1rem;
              color: $accent;
              transition: 0.5s ease-in-out;
            }

            h3 {
              font-size: 2rem;
              font-weight: bolder;
              margin: 1rem 0;
            }

            p {
              color: $tertiary;
              font-size: 0.9rem;
              margin: 2rem 1rem;

              &:nth-child(2),
              &:nth-child(3) {
                margin: 0;
                padding: 0;
                font-size: 0.8rem;
                text-transform: uppercase;
                color: $primary;
                margin: 0 1rem;
                /*About Us End*/
              }
            }
          }
        }
      }

      .separator {
        width: 0.05rem;
        height: 3rem;
        background: rgb(221, 221, 221);
      }

      .container {
        /*Contact Us*/
        width: 90vw;
        height: 50vh;
        background: $white;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .card {
          position: relative;
          width: 30%;
          height: 65%;
          border-radius: 0.2rem;
          box-shadow: 2px 2px 10px rgb(169, 170, 169);
          outline: 1px solid $tertiary;
          outline-offset: -0.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          padding: 2rem;
          transition: 0.5s ease-in-out;

          &:hover {
            transform: scale(1.1);
            background: $white;
            outline-offset: 0;
          }

          i {
            font-size: 3rem;
            color: $primary;
            margin: 1rem 0;
          }

          h5 {
            font-size: 1.5rem;
          }

          p {
            font-size: 0.9rem;
            color: $tertiary;
            padding: 2rem;

            a {
              font-size: 0.9rem;
              font-weight: 500;

              &:hover {
                background: $white;
                color: $primary;
              }
            }
          }
        }
      }
    }
    .message {
      text-align: center;
      width: 100vw;

      h1 {
        font-size: 4rem;
        margin: 1rem auto;
        position: relative;
        display: inline-block;
        width: fit-content;

        &::after {
          content: '';
          margin: auto;
          position: absolute;
          bottom: -30%;
          left: 30%;
          width: 100%;
          height: 30px;
          background: url(/Images/images/title_shape.png) no-repeat;
        }
      }

      .fields {
        display: flex;
        padding: 3rem 8rem;
        align-items: center;
        justify-content: space-around;

        form {
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: 50%;
          height: 100%;
          gap: 1rem;

          .group {
            background: $white;
            height: 3rem;
            border-radius: 0.2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem;

            input {
              background: $white;
              width: 100%;
              outline: none;
              height: 100%;
              padding-left: 0.5rem;
            }

            i {
              color: $tertiary;
              margin-right: 0.5rem;
            }
          }

          .text {
            grid-column: 1/3;
            width: 100%;
            background: $white;
            border-radius: 0.2rem;

            textarea {
              width: 100%;
              min-height: 16rem;
              background: $white;
              border-radius: 0.2rem;
              padding-left: 1rem;
              outline: none;
              resize: none;
            }
          }

          .button {
            background: $primary;
            width: 50%;
            color: $white;
            padding: 0.5rem 0;
            border-radius: 0.2rem;
            text-transform: uppercase;

            &:hover {
              background: $text;
              /*Contact Us end*/
            }
          }
        }
      }
    }

    .fill-in {
      /*My Account*/
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;

      .wrap {
        width: 60%;
        border-radius: 0.2rem;
        padding: 1rem;
        background: linear-gradient(
          45deg,
          #048a10,
          #56ab2f,
          #a8e063,
          #f1d742,
          #ff9966,
          #ff5e62
        );
        background-size: 600%;
        animation: text-bg 20s infinite alternate;
      }

      h2 {
        margin: 2rem 0;
        font-size: 3rem;
        color: white;
      }

      h4 {
        font-size: 2rem;
        font-weight: 900;
        margin: 1rem 0;
        color: white;
      }

      p {
        color: $text;
        margin: 1rem 0 0 0;
      }

      a {
        font-size: 1rem;
        margin: 1rem 0;
        color: white;

        &:hover {
          &:hover {
            background: linear-gradient(
              45deg,
              #048a10,
              #56ab2f,
              #a8e063,
              #f1d742,
              #ff9966,
              #ff5e62
            );
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        margin: auto;
        padding: 1rem;

        .details {
          margin: 1rem auto;
          display: flex;
          flex-direction: column;

          input {
            height: 3rem;
            width: 35rem;
            margin: 1rem auto;
            outline: none;
            border-radius: 0.1rem;
            padding-left: 1rem;
            color: $mainhead;
            background: rgba(255, 255, 255, 9);
            // border: 1px solid white;
            box-shadow: inset 1px 1px 5px rgb(133, 133, 133);
          }

          .pass {
            position: relative;

            i {
              position: absolute;
              right: 1rem;
              top: 2rem;
              color: white;
            }
          }

          .check-box {
            margin-left: 0;
            margin-top: 1rem;
            width: 100%;
            padding: 0;
            display: flex;
            align-items: center;
            color: white;

            .check {
              margin: auto 0.1rem;
              width: 1rem;
              height: 1rem;
              outline: none;
            }

            a {
              margin-left: auto;
              color: white;
              border-radius: 0.1rem;

              &:hover {
                background: linear-gradient(
                  45deg,
                  #048a10,
                  #56ab2f,
                  #a8e063,
                  #f1d742,
                  #ff9966,
                  #ff5e62
                );
              }
            }
          }
        }

        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 40%;
          margin-right: auto;
          padding: 1rem;

          a {
            border: 1px solid white;
            border-radius: 0.1rem;
            padding: 0.2rem 0.8rem;
            text-transform: uppercase;
            font-weight: 500;

            &:hover {
              background: linear-gradient(
                45deg,
                #048a10,
                #56ab2f,
                #a8e063,
                #f1d742,
                #ff9966,
                #ff5e62
              );
              color: $white;

              /*My Account end*/
            }
          }
        }
      }
    }

    .fill-up {
      /*My Account*/
      width: 100vw;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;

      .wrap {
        width: 60%;
        border-radius: 0.2rem;
        padding: 1rem;
        background: linear-gradient(
          45deg,
          #048a10,
          #56ab2f,
          #a8e063,
          #f1d742,
          #ff9966,
          #ff5e62
        );
        background-size: 600%;
        animation: text-bg 20s infinite alternate;
      }

      h2 {
        margin: 2rem 0;
        font-size: 3rem;
        color: white;
      }

      h4 {
        font-size: 2rem;
        font-weight: 900;
        margin: 1rem 0;
        color: white;
      }

      p {
        color: $text;
        margin: 1rem 0 0 0;
      }

      a {
        font-size: 1rem;
        margin: 1rem 0;
        color: white;

        &:hover {
          &:hover {
            background: linear-gradient(
              45deg,
              #048a10,
              #56ab2f,
              #a8e063,
              #f1d742,
              #ff9966,
              #ff5e62
            );
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        margin: auto;
        padding: 1rem;

        .details {
          margin: 1rem auto;
          display: flex;
          flex-direction: column;

          input {
            height: 3rem;
            width: 35rem;
            margin: 1rem auto;
            outline: none;
            border-radius: 0.1rem;
            padding-left: 1rem;
            color: $mainhead;
            background: rgba(255, 255, 255, 9);
            // border: 1px solid white;
            box-shadow: inset 1px 1px 5px rgb(133, 133, 133);
          }

          .pass {
            position: relative;

            i {
              position: absolute;
              right: 1rem;
              top: 2rem;
              color: white;
            }
          }

          .check-box {
            margin-left: 0;
            margin-top: 1rem;
            width: 100%;
            padding: 0;
            display: flex;
            align-items: center;
            color: white;

            .check {
              margin: auto 0.1rem;
              width: 1rem;
              height: 1rem;
              outline: none;
            }

            a {
              margin-left: auto;
              color: white;
              border-radius: 0.1rem;

              &:hover {
                background: linear-gradient(
                  45deg,
                  #048a10,
                  #56ab2f,
                  #a8e063,
                  #f1d742,
                  #ff9966,
                  #ff5e62
                );
              }
            }
          }
        }

        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 40%;
          margin-right: auto;
          padding: 1rem;

          a {
            border: 1px solid white;
            border-radius: 0.1rem;
            padding: 0.2rem 0.8rem;
            text-transform: uppercase;
            font-weight: 500;

            &:hover {
              background: linear-gradient(
                45deg,
                #048a10,
                #56ab2f,
                #a8e063,
                #f1d742,
                #ff9966,
                #ff5e62
              );
              color: $white;

              /*My Account end*/
            }
          }
        }
      }
    }
  }

  .error {
    /*404 page start*/
    width: 100vh;
    border-radius: 0.2rem;
    margin: 1rem auto;
    padding: 1rem;

    h2 {
      font-size: 8rem;
      color: tomato;
      margin: 0 auto 1rem;
    }

    h4 {
      font-size: 2rem;
      font-weight: 900;
      margin: 1rem 0;
    }

    p {
      color: $text;
      font-size: 0.9rem;
      margin: 1rem 0;
    }

    .details {
      padding: 1rem;
    }

    .search {
      width: 34rem;
      margin: 2rem auto;
      height: 3rem;
      background: $white;
      box-shadow: 1px 1px 5px rgb(169, 170, 169);
      display: flex;
      align-items: center;

      input {
        width: 30rem;
        height: 100%;
        background: $white;
        outline: none;
        border-right: 1px solid $tertiary;
        padding-left: 1rem;
      }

      a {
        height: 100%;
        font-size: 2rem;
        margin-top: auto;
        margin-left: 1rem;
        border: none;
        padding: 0;
        background: $white;

        &:hover {
          color: $primary;
        }
      }
    }

    .button {
      a {
        text-transform: uppercase;
        font-size: 1rem;
        margin: 1rem auto;
        border: 1px solid $primary;
        border-radius: 0.1rem;
        padding: 0.5rem 1rem;

        &:hover {
          background: $primary;
          color: $white;
          /*404 end*/
        }
      }
    }
  }

  .terms {
    /*Terms and conditions start*/
    min-height: 70vh;
    width: 100%;
    padding: 1rem;
    text-align: center;
    margin: 0 auto;

    h1 {
      font-size: 4rem;
      margin: 0;
    }

    .cart {
      /*Cart Start*/
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 70vh;
      width: 80%;
      margin: 0.5rem auto;

      .table-box {
        width: 60vw;
        border: 1px solid rgb(221, 221, 221);
        padding: 1rem;

        .wrap {
          display: flex;
          justify-content: space-between;
          padding: 0 1rem;
          align-items: center;

          a {
            padding: 0.5rem 1rem;
            margin: 0;
            text-transform: uppercase;
            background: $primary;
            color: $white;
            margin-right: 2rem;
            transition: 0.5s ease;
            border-radius: 0.1rem;

            &:hover {
              background: $text;
            }
          }

          .coupon {
            height: 2.5rem;
            margin: 1rem 0;

            input {
              height: 100%;
              outline: none;
              width: 20rem;
              background: $white;
              border-radius: 0.1rem;
              padding: 0 0.5rem;
            }
          }
        }

        th {
          color: $tertiary;

          a {
            text-decoration: none;
            i {
              color: $tertiary;
              font-size: 1rem;

              &:hover {
                color: $white;
              }
            }
          }
        }

        td {
          text-align: left;
          color: $tertiary;
          vertical-align: middle;
          max-width: 15rem;

          h5 {
            font-weight: bold;
            padding: 0;

            &:hover {
              color: $primary;
            }
          }

          p {
            padding: 0;
            width: 100%;
          }

          span {
            font-size: 0.8rem;
            color: $text;
            padding: 0;
          }

          .price {
            font-size: 1rem;
            font-weight: bold;
            color: $primary;
          }

          .add {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
              font-size: 0.8rem;
              display: block;
            }

            a {
              border: 1px solid $primary;
              border-radius: 0.1rem;
              color: $tertiary;
            }
          }
        }
      }

      .slip {
        width: 25vw;
        height: 58vh;
        background: url(../Images/bg/cart_sidebar_bg.png);
        margin: 0 1rem;
        padding: 1rem;

        h3 {
          margin: 1rem 0;
          text-align: left;
          font-size: 2rem;
          padding-bottom: 1rem;
          border-bottom: 1px dotted rgb(221, 221, 221);
        }

        ul {
          margin: 1rem 0;
          list-style: none;
          text-align: left;
          padding: 0 0 1rem 0;
          display: flex;
          flex-direction: column;
          border-bottom: 1px dotted rgb(221, 221, 221);

          li {
            width: 100%;
            margin: 0.5rem 0;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;

            span {
              display: flex;
              flex-direction: column;
              width: 50%;

              .group {
                margin: 0.5rem 0;

                label {
                  font-weight: normal;
                  text-transform: uppercase;
                }
              }
            }
          }
        }

        p {
          width: 100%;
          margin: 0.5rem 0;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-transform: uppercase;
          padding-bottom: 2rem;
          margin: 0 0 2rem 0;
          border-bottom: 1px dotted rgb(221, 221, 221);

          span {
            display: flex;
            width: 50%;
            font-size: 1.5rem;
          }
        }

        a {
          border: 1px solid $primary;
          padding: 0.5rem 1rem;
          box-shadow: 2px 2px 5px rgb(169, 170, 169);
          border-radius: 0.1rem;
          text-transform: uppercase;
          /*Cart styles end*/
        }
      }
    }

    a {
      padding: 0.2rem 0.3rem;
      margin-bottom: 3rem;
      color: $primary;
      text-decoration: none;
      border-radius: 0.1rem;
      font-size: 1rem;
      transition: 0.4s ease-in-out;

      &:hover {
        color: $white;
        background: $primary;
      }
    }

    h4 {
      color: $primary;
      font-size: 2rem;
      margin: 1rem 0;
    }

    p {
      color: $tertiary;
      padding: 0.5rem 2rem;
      text-align: left;
      line-height: 2;
    }

    li {
      margin: 0.6rem auto;
      color: $tertiary;
      text-align: left;
    }

    .liner {
      height: 0.02rem;
      width: 95%;
      background: $tertiary;
      margin: 2rem auto;
      /*Terms and conditions end*/
    }
  }

  .table {
    width: 80%;
    margin: 0 auto;

    th {
      /*Wishlist Start*/
      color: $tertiary;

      a {
        text-decoration: none;
        i {
          color: $tertiary;
          font-size: 1rem;

          &:hover {
            color: $white;
          }
        }
      }
    }

    td {
      text-align: center;
      color: $tertiary;
      vertical-align: middle;
      max-width: 15rem;

      h5 {
        font-weight: bold;
        &:hover {
          color: $primary;
        }
      }

      span {
        font-size: 0.7rem;
        color: $text;
      }

      .price {
        font-size: 1rem;
        font-weight: bold;
        color: $primary;
      }

      .add {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          font-size: 0.8rem;
          display: block;
        }

        a {
          border: 1px solid $primary;
          border-radius: 0.1rem;
          color: $tertiary;

          &:hover {
            color: white;
          }
          /*Wishlist Styles End*/
        }
      }
    }
  }

  .special-offer {
    /*Top Sales Start*/
    text-align: center;
    width: 100%;

    h1 {
      font-size: 5rem;
      margin: 1rem auto;
      position: relative;
      display: inline-block;
      width: fit-content;

      &::after {
        content: '';
        margin: auto;
        position: absolute;
        bottom: -30%;
        left: 35%;
        width: 100%;
        height: 30px;
        background: url(/Images/images/title_shape.png) no-repeat;
      }
    }

    .info {
      display: flex;
      width: 100%;
      align-items: flex-end;
      justify-content: space-between;

      .text {
        margin-left: 5rem;
        line-height: 1;

        h3 {
          font-size: 5rem;
          margin: 0;
          text-transform: uppercase;
          background: linear-gradient(
            45deg,
            #048a10,
            #56ab2f,
            #a8e063,
            #f1d742,
            #ff9966,
            #ff5e62
          );
          background-size: 600%;
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent;
          animation: text-bg 15s infinite alternate;
        }

        @keyframes text-bg {
          0% {
            background-position: left;
          }

          100% {
            background-position: right;
          }
        }

        p {
          color: $tertiary;
          font-size: 2rem;
          font-weight: 500;
          text-transform: uppercase;
          background: linear-gradient(
            45deg,
            #048a10,
            #56ab2f,
            #a8e063,
            #f1d742,
            #ff9966,
            #ff5e62
          );
          background-size: 600%;
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent;
          animation: text-bg 15s infinite alternate 7s;

          span {
            padding: 0.1rem 0.3rem;
            font-weight: 900;
            font-size: 2.5rem;
            /*Top Sales End*/
          }
        }
      }
    }
  }
}
