@-webkit-keyframes text-bg {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes text-bg {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -msbox-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100vw;
}

body .top-btn {
  position: fixed;
  right: 5rem;
  top: -5rem;
  z-index: 500;
  height: 3.5rem;
  width: 3.5rem;
  color: white;
  background: #048a10;
  font-size: 1.2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  -webkit-transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (max-width: 900px) {
  body .top-btn {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 0.9rem;
    right: 5%;
  }
}

body .top-btn:hover {
  color: #f5f5f5;
}

body main {
  padding-top: 10vh;
}

body main .new {
  text-align: center;
}

body main .new h1 {
  font-size: clamp(3rem, 5vw, 6rem);
  margin: 0;
}

body main .new a {
  padding: 0.2rem 0.3rem;
  margin-bottom: 3rem;
  color: #048a10;
  text-decoration: none;
  border-radius: 0.1rem;
  font-size: 1rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

body main .new a:hover {
  color: #f5f5f5;
  background: #048a10;
}

body main .new .order {
  width: 60%;
  margin: 4rem auto 1rem auto;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: linear-gradient(
    45deg,
    #56ab2f,
    #a8e063,
    #f1d742,
    #ff9966,
    #ff5e62
  );
  background-size: 600%;
  color: transparent;
  -webkit-animation: text-bg 15s infinite alternate;
  animation: text-bg 15s infinite alternate;
  border: 1px solid #dddddd;
}

body main .new .order h2 {
  font-size: 2.5rem;
  margin: 1rem auto;
}

body main .new .order img {
  height: 7rem;
  margin: 1rem;
}

body main .new .order p {
  line-height: 2;
  color: white;
  margin: 1rem;
}

body main .new .order > a {
  margin-top: 1rem;
  background: #048a10;
  color: #f5f5f5;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}

body main .new .order > a:hover {
  background: #262726;
}

body main .new .order span {
  text-transform: uppercase;
  text-decoration: underline;
}

body main .new .order span a {
  color: white;
}

body main .new .order span a:hover {
  background: transparent;
  color: #262726;
}

body main .billing {
  /*Checkout styles*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  min-height: 100vh;
  margin: 1rem;
}

body main .billing .main-form {
  min-height: 100vh;
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

body main .billing .main-form h3 {
  margin: 1rem;
  text-align: left;
  font-size: 2rem;
}

body main .billing .main-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 90%;
  border: 1px solid #858282;
  outline: 1px solid #858282;
  outline-offset: -4px;
  padding: 1.5rem;
}

body main .billing .main-form form label {
  text-transform: uppercase;
  font-weight: 500;
  margin: 0.2rem 0;
}

body main .billing .main-form form label small {
  color: #858282;
}

body main .billing .main-form form input {
  height: 2.5rem;
  background: #f5f5f5;
  outline: none;
  border-radius: 0.2rem;
  padding: 0 0.5em;
  -webkit-box-shadow: inset 1px 1px 2px #a9aaa9;
  box-shadow: inset 1px 1px 2px #a9aaa9;
}

body main .billing .main-form form .opt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f5f5f5;
  padding: 0 0.5rem;
  border-radius: 0.2rem;
  -webkit-box-shadow: 1px 1px 2px #a9aaa9;
  box-shadow: 1px 1px 2px #a9aaa9;
}

body main .billing .main-form form .opt select {
  width: 100%;
  background: #f5f5f5;
  height: 2.8rem;
  color: #858282;
  outline: none;
}

body main .billing .main-form form .opt select option {
  padding: 1rem;
  color: #858282;
}

body main .billing .main-form form .check {
  height: 1rem;
  color: #048a10;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-right: auto;
}

body main .billing .main-form form textarea {
  background: #f5f5f5;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  height: 10rem;
  resize: none;
  -webkit-box-shadow: inset 1px 1px 2px #a9aaa9;
  box-shadow: inset 1px 1px 2px #a9aaa9;
}

body main .billing aside {
  background: url(../Images/bg/checkout_sidebar_bg.png);
  padding: 1rem;
  width: 25vw;
  height: 70%;
}

body main .billing aside h3 {
  margin: 1rem 0;
  text-align: left;
  font-size: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px dotted #dddddd;
}

body main .billing aside ul {
  margin: 2rem 0;
  list-style: none;
  text-align: left;
  padding: 0 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px dotted #dddddd;
}

body main .billing aside ul li {
  width: 100%;
  margin: 0.5rem 0;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
}

body main .billing aside ul li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
}

body main .billing aside ul li span .group {
  margin: 0.5rem 0;
}

body main .billing aside ul li span .group label {
  font-weight: normal;
  text-transform: uppercase;
}

body main .billing aside p {
  width: 100%;
  margin: 0.5rem 0;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
  padding-bottom: 2rem;
  border-bottom: 1px dotted #dddddd;
}

body main .billing aside p span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  font-size: 1.5rem;
}

body main .billing aside .side-form1,
body main .billing aside .side-form2 {
  width: 100%;
  margin: 1.5rem 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
  border-bottom: 1px dotted #dddddd;
}

body main .billing aside .side-form1 label,
body main .billing aside .side-form2 label {
  margin-left: 0.5rem;
}

body main .billing aside .side-form3,
body main .billing aside .side-form4 {
  width: 100%;
  margin: 1.85rem 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
  border-bottom: 1px dotted #dddddd;
}

body main .billing aside .side-form3 label,
body main .billing aside .side-form4 label {
  margin-left: 0.5rem;
}

body main .billing aside .side-form3 img,
body main .billing aside .side-form4 img {
  margin-left: auto;
}

body main .billing aside .side-form3 li,
body main .billing aside .side-form4 li {
  list-style: none;
  text-transform: none;
  text-align: left;
  color: #858282;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}

body main .billing aside .side-form5 {
  width: 100%;
  margin: 2rem 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .billing aside .side-form5 input {
  margin: 0.5rem 0 0 0;
}

body main .billing aside a {
  border: 1px solid #048a10;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 2px 2px 5px #777;
  box-shadow: 2px 2px 5px #777;
  border-radius: 0.1rem;
  text-transform: uppercase;
  /*Checkout styles end*/
}

body main .testimonials {
  height: 100vh;
  width: 100%;
  text-align: center;
}

body main .testimonials h1 {
  font-size: clamp(3rem, 5vw, 6rem);
  margin: 1rem auto;
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body main .testimonials h1::after {
  content: '';
  margin: auto;
  position: absolute;
  bottom: -30%;
  left: 0;
  width: 100%;
  height: 30px;
  background: url(/Images/images/title_shape.png) no-repeat;
  background-position: center;
}

body main .testimonials .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 2rem 0;
  height: 80%;
  border-bottom: 0.01rem solid #dddddd;
}

body main .testimonials .reviews .swiper-container {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

body main .testimonials .reviews .swiper-slide {
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 23rem;
  height: 23rem;
  background: #f5f5f5;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 1rem;
  border-radius: 0.2rem;
  margin: 0 1rem;
  position: relative;
}

body main .testimonials .reviews .swiper-slide::after {
  content: url(../Images/icon/testi_quote.png);
  position: absolute;
  bottom: -10rem;
  width: 100%;
  height: 100%;
}

body main .testimonials .reviews .swiper-slide h4 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

body main .testimonials .reviews .swiper-slide p {
  color: #858282;
  margin: 0;
}

body main .testimonials .reviews .swiper-slide i {
  color: #048a10;
}

body main .testimonials .reviews .swiper-slide article {
  color: #858282;
  font-size: 0.9rem;
  font-style: italic;
  padding: 1rem;
  margin-bottom: 1rem;
}

body main .testimonials .reviews .swiper-slide img {
  display: block;
  width: 20%;
  height: 20%;
}

body main .testimonials .reviews .swiper-pagination {
  cursor: pointer;
}

body main .main {
  text-align: center;
  width: 90%;
}

body main .main h1 {
  font-size: clamp(3rem, 5vw, 6rem);
  margin: 0;
  position: relative;
}

body main .main h1::after {
  content: '';
  margin: auto;
  position: absolute;
  bottom: -25%;
  left: 0;
  width: 100%;
  height: 30px;
  background: url(/Images/images/title_shape.png) no-repeat;
  background-position: center;
}

body main .main a {
  padding: 0.2rem 0.3rem;
  margin-bottom: 3rem;
  color: #048a10;
  text-decoration: none;
  border-radius: 0.1rem;
  font-size: 1rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

body main .main a:hover {
  color: #f5f5f5;
  background: #048a10;
}

body main .main .content {
  /*About Us Start*/
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2rem auto;
}

body main .main .content .image {
  margin: 0 1rem;
  position: relative;
  width: 120rem;
  height: 30rem;
}

@media (max-width: 500px) {
  body main .main .content {
    width: 100%;
  }

  body main .main .content .image {
    margin: 0;
    height: 20rem;
  }
}

body main .main .content .image img {
  border-radius: 0.2rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

body main .main .content .info {
  padding: 0 2rem;
  margin: 1rem 2rem;
}

body main .main .content .info h2 {
  font-size: 2.5rem;
  text-align: left;
}

body main .main .content .info article {
  text-align: left;
  font-size: 0.9rem;
}

body main .main .content .info article p {
  color: #858282;
  line-height: 2;
}

body main .main .content .info h3 {
  color: #048a10;
  font-size: 1.7rem;
  margin: 1rem 0;
  text-align: left;
  padding: 1rem 0;
  border-bottom: 0.02rem solid #dddddd;
}

body main .main .content .info .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 1rem 0;
}

body main .main .content .info .icons .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

body main .main .content .info .icons .items i {
  font-size: 2rem;
  color: #858282;
  margin-right: 1rem;
}

body main .main .content .info .icons .items .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body main .main .content .info .icons .items .text h4 {
  font-size: 1.7rem;
  font-weight: bolder;
}

body main .main .content .info .icons .items .text p {
  color: #858282;
  font-size: 0.9rem;
}

@media (max-width: 1100px) {
  body main .main .content {
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  body main .main .content .image {
    margin: 0;
  }

  body main .main .content .info .icons .items {
    flex-direction: column;
  }

  body main .main .content .info .icons .items i {
    margin: 0;
  }

  body main .main .content .info {
    padding: 0;
    margin: 1rem 0;
  }
}

body main .main .experience {
  min-height: 90vh;
  width: 100%;
  background: #f5f5f5;
  padding: 1rem;
}

body main .main .experience h1 {
  font-size: clamp(3rem, 5vw, 6rem);
  margin: 1rem auto;
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body main .main .experience h1::after {
  content: '';
  margin: auto;
  position: absolute;
  bottom: -30%;
  left: 0;
  width: 100%;
  height: 30px;
  background: url(/Images/images/title_shape.png) no-repeat;
  background-position: center;
}

body main .main .experience .container {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}

body main .main .experience .container .cardd {
  flex: 0 0 20rem;
  background: white;
  margin: 1rem;
  height: 25rem;
  border-radius: 0.2rem;
  -webkit-box-shadow: 2px 2px 5px #a9aaa9;
  box-shadow: 2px 2px 5px #a9aaa9;
  text-align: left;
  line-height: 2;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body main .main .experience .container .cardd:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

body main .main .experience .container .cardd:hover i {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
  color: #048a10;
}

body main .main .experience .container .cardd i {
  font-size: 3rem;
  margin: 1rem;
  color: #dcf3de;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body main .main .experience .container .cardd h3 {
  font-size: 2rem;
  font-weight: bolder;
  margin: 1rem;
}

body main .main .experience .container .cardd p {
  color: #858282;
  font-size: clamp(0.8rem, 1vw, 18px);
  margin: 2rem 1rem;
}

body main .main .experience .container .cardd p:nth-child(2),
body main .main .experience .container .cardd p:nth-child(3) {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #048a10;
  margin: 0 1rem;
  /*About Us End*/
}

body main .main .separator {
  width: 0.05rem;
  height: 3rem;
  background: #dddddd;
}

body main .main .container {
  /*Contact Us*/
  width: 90vw;
  min-height: 50vh;
  margin: 1rem auto;
  padding: 1rem;
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}

body main .main .container .card {
  position: relative;
  width: 20rem;
  margin: 1rem auto;
  border-radius: 0.2rem;
  -webkit-box-shadow: 2px 2px 10px #a9aaa9;
  box-shadow: 2px 2px 10px #a9aaa9;
  outline: 1px solid #858282;
  outline-offset: -0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 2rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body main .main .container .card:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background: #f5f5f5;
  outline-offset: 0;
}

body main .main .container .card i {
  font-size: 3rem;
  color: #048a10;
  margin: 1rem 0;
}

body main .main .container .card h5 {
  font-size: 1.5rem;
}

body main .main .container .card p {
  font-size: 0.9rem;
  color: #858282;
  padding: 1rem;
}

body main .main .container .card p a {
  font-size: 0.9rem;
  font-weight: 500;
}

body main .main .container .card p a:hover {
  background: #f5f5f5;
  color: #048a10;
}

body main .message {
  text-align: center;
  width: 100vw;
}

body main .message h1 {
  font-size: clamp(3rem, 5vw, 6rem);
  margin: 1rem auto;
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body main .message h1::after {
  content: '';
  margin: auto;
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 100%;
  height: 30px;
  background: url(/Images/images/title_shape.png) no-repeat;
  background-position: center;
}

body main .message .fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  width: 90%;
  margin: 1rem auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  flex-wrap: wrap;
}

body main .message .fields form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(auto-fit, 1fr);
  justify-content: center;
  min-height: 100%;
  gap: 1rem;
  margin: 1rem;
}

body main .message .fields form .group {
  background: #f5f5f5;
  height: 3rem;
  border-radius: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem;
}

body main .message .fields form .group input {
  background: #f5f5f5;
  outline: none;
  height: 100%;
  padding-left: 0.5rem;
}

body main .message .fields form .group i {
  color: #858282;
  margin-right: 0.5rem;
}

body main .message .fields form .text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  width: 100%;
  background: #f5f5f5;
  border-radius: 0.2rem;
}

body main .message .fields form .text textarea {
  width: 100%;
  min-height: 16rem;
  background: #f5f5f5;
  border-radius: 0.2rem;
  padding-left: 1rem;
  outline: none;
  resize: none;
}

body main .message .fields form .button {
  background: #048a10;
  width: 50%;
  color: #f5f5f5;
  padding: 0.5rem 0;
  border-radius: 0.2rem;
  text-transform: uppercase;
}

body main .message .fields form .button:hover {
  background: #262726;
  /*Contact Us end*/
}

@media (max-width: 1000px) {
  body main .message .fields {
    width: 100%;
  }

  body main .message .fields form {
    width: 100%;
  }

  body main .message .fields form .group {
    height: 2.5rem;
  }
}

body main .fill-in {
  /*My Account*/
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body main .fill-in .wrap {
  width: 60%;
  border-radius: 0.2rem;
  padding: 1rem;
  margin-right: 10%;
  background: linear-gradient(
    45deg,
    #048a10,
    #56ab2f,
    #a8e063,
    #f1d742,
    #ff9966,
    #ff5e62
  );
  background-size: 600%;
  -webkit-animation: text-bg 20s infinite alternate;
  animation: text-bg 20s infinite alternate;
}

body main .fill-in h2 {
  margin: 2rem 0;
  font-size: 3rem;
  color: white;
}

body main .fill-in h4 {
  font-size: 2rem;
  font-weight: 900;
  margin: 1rem 0;
  color: white;
}

body main .fill-in p {
  color: #262726;
  margin: 1rem 0 0 0;
}

body main .fill-in a {
  font-size: 1rem;
  margin: 1rem 0;
  color: white;
}

body main .fill-in a:hover:hover {
  background: linear-gradient(
    45deg,
    #048a10,
    #56ab2f,
    #a8e063,
    #f1d742,
    #ff9966,
    #ff5e62
  );
}

body main .fill-in form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

body main .fill-in form .details {
  margin: 1rem auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

body main .fill-in form .details input {
  height: 3rem;
  width: 100%;
  margin: 1rem auto;
  outline: none;
  border-radius: 0.1rem;
  padding-left: 1rem;
  color: #000000;
  background: white;
  -webkit-box-shadow: inset 1px 1px 5px #858585;
  box-shadow: inset 1px 1px 5px #858585;
}

body main .fill-in form .details .pass {
  position: relative;
  width: 100%;
}

body main .fill-in form .details .pass i {
  position: absolute;
  right: 1rem;
  top: 2rem;
  color: #048a10;
}

body main .fill-in form .details .check-box {
  margin-left: 0;
  margin-top: 1rem;
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}

body main .fill-in form .details .check-box .check {
  margin: auto 0.1rem;
  width: 1rem;
  height: 1rem;
  outline: none;
}

body main .fill-in form .details .check-box a {
  margin-left: auto;
  color: white;
  border-radius: 0.1rem;
}

body main .fill-in form .details .check-box a:hover {
  background: linear-gradient(
    45deg,
    #048a10,
    #56ab2f,
    #a8e063,
    #f1d742,
    #ff9966,
    #ff5e62
  );
}

body main .fill-in form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem 0;
}

body main .fill-in form .buttons a {
  border: 1px solid white;
  border-radius: 0.1rem;
  padding: 0.2rem 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 3rem;
}

body main .fill-in form .buttons a:hover {
  background: linear-gradient(
    45deg,
    #048a10,
    #56ab2f,
    #a8e063,
    #f1d742,
    #ff9966,
    #ff5e62
  );
  color: #f5f5f5;
  /*My Account end*/
}

@media (max-width: 800px) {
  body main .fill-in .wrap {
    width: 95%;
    font-size: 0.8rem;
  }

  body main .fill-in form {
    padding: 1rem 0.5rem;
  }

  body main .fill-in form .details {
    width: 100%;
    margin: auto 0;
  }

  body main .fill-in form .details input {
    height: 2.5rem;
    margin: 0.5rem 0;
  }

  body main .fill-in form .details .check-box a {
    font-size: 0.8rem;
  }

  body main .fill-in form .buttons {
    width: 100%;
  }

  body main .fill-in form .buttons a {
    font-size: 0.8rem;
  }
}

body main .fill-up {
  /*My Account*/
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 2rem auto;
}

body main .fill-up .wrap {
  width: 60%;
  border-radius: 0.2rem;
  padding: 1rem;
  margin-right: 10%;
  background: linear-gradient(
    45deg,
    #048a10,
    #56ab2f,
    #a8e063,
    #f1d742,
    #ff9966,
    #ff5e62
  );
  background-size: 600%;
  -webkit-animation: text-bg 20s infinite alternate;
  animation: text-bg 20s infinite alternate;
}

body main .fill-up h2 {
  margin: 2rem 0;
  font-size: 3rem;
  color: white;
}

body main .fill-up h4 {
  font-size: 2rem;
  font-weight: 900;
  margin: 1rem 0;
  color: white;
}

body main .fill-up p {
  color: #262726;
  margin: 1rem 0 0 0;
}

body main .fill-up a {
  font-size: 1rem;
  margin: 1rem 0;
  color: white;
}

body main .fill-up a:hover:hover {
  background: linear-gradient(
    45deg,
    #048a10,
    #56ab2f,
    #a8e063,
    #f1d742,
    #ff9966,
    #ff5e62
  );
}

body main .fill-up form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

body main .fill-up form .details {
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

body main .fill-up form .details input {
  height: 3rem;
  width: 100%;
  margin: 1rem auto;
  outline: none;
  border-radius: 0.1rem;
  padding-left: 1rem;
  color: #000000;
  background: white;
  -webkit-box-shadow: inset 1px 1px 5px #858585;
  box-shadow: inset 1px 1px 5px #858585;
}

body main .fill-up form .details .pass {
  position: relative;
}

body main .fill-up form .details .pass i {
  position: absolute;
  right: 1rem;
  top: 2rem;
  color: #048a10;
}

body main .fill-up form .details .check-box {
  margin-left: 0;
  margin-top: 1rem;
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}

body main .fill-up form .details .check-box .check {
  margin: auto 0.1rem;
  width: 1rem;
  height: 1rem;
  outline: none;
}

body main .fill-up form .details .check-box a {
  margin-left: auto;
  color: white;
  border-radius: 0.1rem;
}

body main .fill-up form .details .check-box a:hover {
  background: linear-gradient(
    45deg,
    #048a10,
    #56ab2f,
    #a8e063,
    #f1d742,
    #ff9966,
    #ff5e62
  );
}

body main .fill-up form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 40%;
  margin-right: auto;
  padding: 1rem 0;
}

body main .fill-up form .buttons a {
  border: 1px solid white;
  border-radius: 0.1rem;
  padding: 0.2rem 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

body main .fill-up form .buttons a:hover {
  background: linear-gradient(
    45deg,
    #048a10,
    #56ab2f,
    #a8e063,
    #f1d742,
    #ff9966,
    #ff5e62
  );
  color: #f5f5f5;
  /*My Account end*/
}

@media (max-width: 800px) {
  body main .fill-up .wrap {
    width: 90%;
    font-size: 0.8rem;
  }

  body main .fill-up form {
    padding: 1rem;
  }

  body main .fill-up form .details {
    width: 100%;
    margin: auto 0;
  }

  body main .fill-up form .buttons {
    width: 100%;
  }

  body main .fill-up form .buttons a {
    font-size: 0.8rem;
  }
}

body .error {
  /*404 page start*/
  width: 80%;
  border-radius: 0.2rem;
  margin: 1rem auto;
  padding: 1rem;
}

body .error h2 {
  font-size: 8rem;
  color: tomato;
  margin: 0 auto 1rem;
}

body .error h4 {
  font-size: min(5vw, 2rem);
  font-weight: 500;
  margin: 1rem 0;
}

body .error p {
  color: #262726;
  font-size: 0.9rem;
  margin: 1rem 0;
}

body .error .details {
  padding: 1rem;
  margin: auto 1rem;
  width: 100%;
}

body .error .search {
  width: 70%;
  margin: 2rem auto;
  height: 3rem;
  background: #f5f5f5;
  -webkit-box-shadow: 1px 1px 5px #a9aaa9;
  box-shadow: 1px 1px 5px #a9aaa9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .error .search input {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  outline: none;
  border-right: 1px solid #858282;
  padding-left: 1rem;
}

body .error .search a {
  height: 100%;
  font-size: 2rem;
  margin: auto 0.5rem;
  border: none;
  padding: 0;
  background: #f5f5f5;
}

body .error .search a:hover {
  color: #048a10;
}

body .error .button a {
  text-transform: uppercase;
  font-size: clamp(0.8rem, 3vw, 20px);
  margin: 1rem auto;
  border: 1px solid #048a10;
  border-radius: 0.1rem;
  padding: 0.5rem 1rem;
}

body .error .button a:hover {
  background: #048a10;
  color: #f5f5f5;
  /*404 end*/
}

@media (max-width: 700px) {
  body .error .search {
    width: 100%;
    height: 2.2rem;
  }

  body .error .search a {
    font-size: 1.5rem;
  }
}

body .terms {
  /*Terms and conditions start*/
  min-height: 70vh;
  width: 100%;
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
}

body .terms h1 {
  font-size: clamp(3rem, 4.5vw, 6rem);
  margin: 0;
}

body .terms .cart {
  /*Cart Start*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 70vh;
  width: 90%;
  margin: 0.5rem auto;
  flex-wrap: wrap;
}

body .terms .cart .table-box {
  width: 60rem;
  border: 1px solid #dddddd;
  padding: 1rem;
  overflow-x: auto;
}

body .terms .cart .table-box .table {
  width: 100%;
  overflow-x: auto;
  margin-left: auto;
}

body .terms .cart .table-box .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .terms .cart .table-box .wrap a {
  padding: 0.5rem 1rem;
  margin: 0;
  text-transform: uppercase;
  background: #048a10;
  color: #f5f5f5;
  margin-right: 2rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-radius: 0.1rem;
  width: 60rem;
}

body .terms .cart .table-box .wrap a:hover {
  background: #262726;
}

body .terms .cart .table-box .wrap .coupon {
  height: 2.5rem;
  margin: 1rem 0;
}

body .terms .cart .table-box .wrap .coupon input {
  height: 100%;
  outline: none;
  width: 20rem;
  background: #f5f5f5;
  border-radius: 0.1rem;
  padding: 0 0.5rem;
}

body .terms .cart .table-box th {
  color: #858282;
}

body .terms .cart .table-box th a {
  text-decoration: none;
}

body .terms .cart .table-box th a i {
  color: #858282;
  font-size: 1rem;
}

body .terms .cart .table-box th a i:hover {
  color: #f5f5f5;
}

body .terms .cart .table-box td {
  text-align: left;
  color: #858282;
  vertical-align: middle;
  max-width: 15rem;
}

body .terms .cart .table-box td h5 {
  font-weight: bold;
  padding: 0;
}

body .terms .cart .table-box td h5:hover {
  color: #048a10;
}

body .terms .cart .table-box td p {
  padding: 0;
  width: 100%;
}

body .terms .cart .table-box td span {
  font-size: 0.8rem;
  color: #262726;
  padding: 0;
}

body .terms .cart .table-box td .price {
  font-size: 1rem;
  font-weight: bold;
  color: #048a10;
}

body .terms .cart .table-box td .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .terms .cart .table-box td .add p {
  font-size: 0.8rem;
  display: block;
}

body .terms .cart .table-box td .add a {
  border: 1px solid #048a10;
  border-radius: 0.1rem;
  color: #858282;
}

body .terms .cart .slip {
  width: 20rem;
  min-height: 58vh;
  background: url(../Images/bg/cart_sidebar_bg.png);
  margin: 1rem;
  padding: 0 0.5rem;
}

body .terms .cart .slip h3 {
  margin: 1rem 0;
  text-align: left;
  font-size: clamp(1.5rem, 3vw, 30px);
  padding-bottom: 1rem;
  border-bottom: 1px dotted #dddddd;
}

body .terms .cart .slip ul {
  margin: 1rem 0;
  list-style: none;
  text-align: left;
  padding: 0 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px dotted #dddddd;
}

body .terms .cart .slip ul li {
  width: 100%;
  margin: 0.5rem 0;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
}

body .terms .cart .slip ul li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
}

body .terms .cart .slip ul li span .group {
  margin: 0.5rem 0;
}

body .terms .cart .slip ul li span .group label {
  font-weight: normal;
  text-transform: uppercase;
}

body .terms .cart .slip p {
  width: 100%;
  margin: 0.5rem 0;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
  padding-bottom: 2rem;
  margin: 0 0 1.5rem 0;
  border-bottom: 1px dotted #dddddd;
}

body .terms .cart .slip p span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  font-size: 1.5rem;
}

body .terms .cart .slip a {
  border: 1px solid #048a10;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 2px 2px 5px #a9aaa9;
  box-shadow: 2px 2px 5px #a9aaa9;
  border-radius: 0.1rem;
  text-transform: uppercase;
  /*Cart styles end*/
}

@media (max-width: 1100px) {
  body .terms .cart .slip {
    margin: 1rem 10%;
  }

  body .terms .cart .slip h3 {
    text-align: center;
    margin-top: 0;
  }
}

body .terms a {
  padding: 0.2rem 0.3rem;
  margin-bottom: 3rem;
  color: #048a10;
  text-decoration: none;
  border-radius: 0.1rem;
  font-size: 1rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

body .terms a:hover {
  color: #f5f5f5;
  background: #048a10;
}

body .terms h4 {
  color: #048a10;
  font-size: 2rem;
  margin: 1rem 0;
}

body .terms p {
  color: #858282;
  padding: 0.5rem 2rem;
  text-align: left;
  line-height: 2;
}

body .terms li {
  margin: 0.6rem auto;
  color: #858282;
  text-align: left;
}

body .terms .liner {
  height: 0.02rem;
  width: 95%;
  background: #858282;
  margin: 2rem auto;
  /*Terms and conditions end*/
}

body .table {
  width: 80%;
  margin: 0 auto;
}

/*Wishlist Start*/
body .table th {
  color: #858282;
}

body .table th a {
  text-decoration: none;
}

body .table th a i {
  color: #858282;
  font-size: 1rem;
}

body .table th a i:hover {
  color: #f5f5f5;
}

body .table td {
  text-align: center;
  color: #858282;
  vertical-align: middle;
  max-width: 15rem;
}

body .table td h5 {
  font-weight: bold;
}

body .table td h5:hover {
  color: #048a10;
}

body .table td span {
  font-size: 0.7rem;
  color: #262726;
}

body .table td .price {
  font-size: 1rem;
  font-weight: bold;
  color: #048a10;
}

body .table td .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .table td .add p {
  font-size: 0.8rem;
  display: block;
}

body .table td .add a {
  border: 1px solid #048a10;
  border-radius: 0.1rem;
  color: #858282;
  /*Wishlist Styles End*/
}

body .table td .add a:hover {
  color: white;
}

body .special-offer {
  /*Top Sales Start*/
  text-align: center;
  width: 100%;
}

body .special-offer h1 {
  font-size: clamp(3rem, 5vw, 6rem);
  margin: 1rem auto;
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .special-offer h1::after {
  content: '';
  margin: auto;
  position: absolute;
  bottom: -25%;
  left: 0;
  width: 100%;
  height: 30px;
  background: url(/Images/images/title_shape.png) no-repeat;
  background-position: center;
}

body .special-offer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-wrap: wrap;
}

body .special-offer .info .text {
  line-height: 1;
  margin: auto;
}

body .special-offer .info .text h3 {
  font-size: clamp(3.5rem, 5vw, 6rem);
  margin: 0;
  text-transform: uppercase;
  background: linear-gradient(
    45deg,
    #048a10,
    #56ab2f,
    #a8e063,
    #f1d742,
    #ff9966,
    #ff5e62
  );
  background-size: 600%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-animation: text-bg 15s infinite alternate;
  animation: text-bg 15s infinite alternate;
}

body .special-offer .info .text p {
  color: #858282;
  font-size: clamp(1rem, 2vw, 4rem);
  font-weight: 500;
  text-transform: uppercase;
  background: linear-gradient(
    45deg,
    #048a10,
    #56ab2f,
    #a8e063,
    #f1d742,
    #ff9966,
    #ff5e62
  );
  background-size: 600%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-animation: text-bg 15s infinite alternate 7s;
  animation: text-bg 15s infinite alternate 7s;
}

body .special-offer .info .text p span {
  padding: 0.1rem 0.3rem;
  font-weight: 900;
  font-size: clamp(2rem, 3vw, 4rem);
}
/*Top Sales End*/
