// Color scheme
$primary: #048a10;
$white: #f5f5f5;
$tertiary: #858282;
$accent: #dcf3de;
$mainhead: #000000;
$text: #262726;

body {
  main {
    padding-top: 9vh;

    h1 {
      font-size: 4rem;
      margin: -4rem 0 0 0;
    }

    a {
      padding: 0.2rem 0.3rem;
      margin-bottom: 3rem auto;
      color: $primary;
      text-decoration: none;
      border-radius: 0.1rem;
      font-size: 1rem;
      transition: 0.4s ease-in-out;

      &:hover {
        color: $white;
        background: $primary;
      }
    }

    .shop {
      /*Shop Details start*/
      width: 100vw;
      text-align: center;
      min-height: 100vh;
      display: flex;
      flex-direction: column;

      .shop-container {
        display: flex;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
        padding-top: 1rem;

        .side-pane {
          width: 10%;
          display: flex;
          flex-direction: column;

          a {
            background: none;
            transition: 0.3s ease;
            box-shadow: 1px 1px 5px rgb(201, 202, 204);
            margin: 0.5rem 0;
            padding: 0.1rem;
            overflow: hidden;

            img {
              width: 100%;
              transition: 0.5s ease;
            }

            &:hover {
              img {
                transform: scale(1.1);
              }
            }
          }
        }

        .main-details {
          display: flex;
          flex-direction: column;
          align-items: center;

          .main-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 3rem 0 0 2rem;

            > a {
              background: none;
              transition: 0.3s ease;
              box-shadow: 1px 1px 5px rgb(201, 202, 204);
              margin: 0.5rem 0;
              padding: 0.5rem;
              height: max-content;
              overflow: hidden;

              &:hover {
                img {
                  transform: scale(1.1);
                }
              }

              img {
                transition: 0.5s ease;
              }
            }

            .img-info {
              text-align: left;
              padding: 1rem;
              width: 45%;
              margin-right: 1rem;

              > a {
                background: $primary;
                color: $white;
                padding: 0.2rem 0.5rem;
              }

              h3 {
                margin: 1rem 0;
              }

              .rate {
                display: flex;
                margin: 1rem 0;

                .stars {
                  color: $primary;
                  margin-right: 1rem;
                }

                span {
                  color: $tertiary;
                  font-weight: 500;
                }
              }
              .pricing {
                margin: 2rem 0;

                span {
                  color: $primary;
                  font-size: 1.5rem;
                  font-weight: 500;
                  margin-right: 1rem;
                }

                del {
                  color: $tertiary;
                }
              }

              p {
                color: $tertiary;
                font-size: 0.9rem;
                margin: 0.5rem 0;
              }

              .sizes {
                margin: 2.5rem 0;

                span {
                  color: $tertiary;
                }

                .size-boxes {
                  margin: 0.5rem 0;

                  a {
                    border: 1px solid $tertiary;
                    color: $tertiary;
                    padding: 0.2rem 0.7rem;
                    margin-right: 0.3rem;

                    &:hover {
                      background: $text;
                      color: $white;
                    }
                  }
                }
              }

              .amount {
                margin: 2rem 0;
                width: 50%;
                height: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input {
                  width: 50%;
                  height: 100%;
                  background: $white;
                  padding: 0 1rem;
                  border-radius: 0.2rem;
                  outline: none;
                  text-align: center;
                  box-shadow: inset 1px 1px 5px rgb(201, 202, 204);
                }

                a {
                  background: $primary;
                  color: $white;
                  padding: 0.5rem;
                  border-radius: 0.1rem;

                  &:hover {
                    background: $text;
                  }
                }
              }

              .wish {
                margin: 0;
                padding: 1.5rem 0;

                a {
                  color: $mainhead;
                  padding: 0.5rem;
                  text-transform: uppercase;
                  font-weight: 500;

                  &:hover {
                    border: 1px solid $mainhead;
                    background: transparent;
                  }
                }
              }
            }
          }

          .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 0.5rem;

            a {
              background: white;
              box-shadow: 1px 1px 5px rgb(201, 202, 204);
              padding: 0.5rem;
              margin-bottom: 1rem;
              overflow: hidden;

              &:hover {
                img {
                  transform: scale(1.15);
                }
              }

              img {
                width: 100%;
                transition: 0.5s ease;
              }
            }
          }

          .hide {
            display: none;
          }
        }
      }
    }

    .shop-extra {
      min-height: 70vh;
      margin-top: 1rem;
      padding: 1rem 9rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      > ul {
        margin: 0.5rem auto;
        border-bottom: 1px solid rgb(201, 202, 204);
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        padding: 0 7rem;

        a {
          height: 2.5rem;
          font-weight: 500;
          color: $tertiary;
          background: transparent;
          position: relative;
        }
      }

      .extra-box {
        h3 {
          margin: 1rem 0;
        }

        .extra-details {
          display: flex;
          margin: 2rem 0;
        }

        img {
          margin-right: 2rem;
        }

        .extra-desc {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          p {
            color: $tertiary;
            font-size: 0.9rem;
            line-height: 2;
          }

          ul {
            list-style: circle;
            padding: 0 1rem;

            li {
              color: $tertiary;
              font-weight: 500;
              font-size: 0.9rem;
              margin: 0.5rem 0;
            }
          }
        }
      }

      .extra-banner {
        width: 100%;
        margin: 1rem 0;
        position: relative;

        img {
          width: 100%;
        }

        span {
          position: absolute;
          bottom: 3rem;
          background: #f9f5f4;
          right: 2.5rem;
          color: $text;
          font-size: 3rem;
        }
      }
    }
    .active {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.01rem;
        background: $primary;
      }
    }

    .viewers {
      width: 90%;
      margin: 1rem auto;
      padding: 1rem 0.5rem;

      .swiper-container {
        width: 100%;
        height: 100%;
        position: relative;

        h3 {
          margin: 1rem 3.4rem;
          padding-bottom: 1rem;
          border-bottom: 1px solid rgb(222, 222, 223);
        }

        .swiper-button-next,
        .swiper-button-prev {
          position: absolute;
          top: 2.8rem;
          color: rgb(222, 222, 223);
          height: 1rem;
          overflow: hidden;
          transition: 0.5s ease;

          &:hover {
            color: $text;
            transform: scale(1.3);
          }
        }

        .swiper-button-next {
          right: 25rem;
        }

        .swiper-button-prev {
          left: 25rem;
        }

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;

          > div {
            margin: 1rem 0;
            transition: 0.5s ease;
            position: relative;

            &:hover {
              transform: scale(1.05);

              .view-icons {
                animation: fade-in 0.5s forwards 0.5s;
                transform: rotateY(180deg);
              }

              .img-box {
                transform: rotateY(180deg);
              }
            }

            .img-box {
              padding: 0;
              box-shadow: 2px 2px 10px rgb(201, 202, 204);
              position: relative;
              transform-style: preserve-3d;
              transition: all 1s ease;

              img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                backface-visibility: hidden;
              }

              .back {
                position: absolute;
                top: 0;
                backface-visibility: hidden;
                transform: rotateY(180deg);
              }
            }

            .view-icons {
              position: absolute;
              bottom: 0;
              right: 2.5%;
              width: 95%;
              opacity: 0;
              margin-bottom: 0.5rem;
              border-radius: 0.2rem;
              height: 4rem;
              background: white;
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              padding: 0.2rem 0;
              transition: 0.5s linear;
              transform-style: preserve-3d;

              a {
                padding: 0.5rem 1rem;
                box-shadow: 1px 1px 5px rgb(201, 202, 204);
                color: $primary;
                transition: 0.4s ease;

                &:hover {
                  background: $primary;
                  color: $white;
                  transform: translateY(-0.5rem);
                }
              }
            }

            p {
              margin: 1rem 0 0 0;
              font-weight: 500;
              color: $text;
            }

            .rating {
              display: flex;
              justify-content: center;
              align-items: center;

              a {
                font-weight: 500;
                background: transparent;
                margin-right: 0.5rem;

                &:hover {
                  color: $primary;
                }
              }

              del {
                font-size: 1rem;
                color: $tertiary;
              }
            }
            .prices {
              i {
                color: $primary;
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }

    #reviews {
      width: 85%;
      padding: 1rem;

      h3 {
        margin: 1rem 0;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgb(222, 222, 223);
      }

      .review-box {
        > span {
          font-size: 1.2rem;
          font-weight: 500;
          margin: 1rem 0;
        }

        .child {
          display: flex;
          padding: 1rem 0;

          .left {
            width: 55%;

            .review {
              display: flex;
              align-items: center;
              margin: 0.5rem 0;

              img {
                height: 4.5rem;
                margin-right: 1rem;
              }

              .text {
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .head {
                  display: flex;
                  align-items: flex-end;

                  h5 {
                    margin: 0 1rem 0 0;
                  }

                  span {
                    color: $tertiary;
                    font-weight: 500;
                    font-size: 0.9rem;
                  }
                }

                p {
                  color: $tertiary;
                  font-size: 0.8rem;
                  line-height: 1.5;
                  margin: 0;
                }

                .stars {
                  font-size: 0.8rem;
                  color: $primary;
                }
              }
            }
          }

          .right {
            width: 45%;
            padding: 0.5rem 1rem;

            p {
              color: $tertiary;
              font-size: 0.8rem;
            }

            h5 {
              margin: 1rem 0;
            }

            .stars {
              margin: 1rem 0;
              width: 30%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              transform: rotateY(180deg);

              input:checked ~ label::after,
              label:hover ~ label::after {
                opacity: 1;
              }

              input {
                display: none;
              }

              label {
                display: block;
                cursor: pointer;
                width: 2rem;
                height: 2rem;
                position: relative;

                &:hover {
                  &::after {
                    opacity: 1;
                  }
                }

                &::before {
                  content: '\2606';
                  font-size: 2rem;
                  width: 100%;
                  position: absolute;
                  top: -0.6rem;
                  left: 0.2rem;
                  color: $primary;
                }

                &::after {
                  content: '\2605';
                  font-size: 2rem;
                  width: 100%;
                  position: absolute;
                  top: -0.6rem;
                  left: 0.2rem;
                  color: $primary;
                  opacity: 0;
                  transition: 0.2 s ease;
                  text-shadow: 0 1px 5px rgb(105, 126, 105);
                }
              }
            }

            textarea {
              width: 100%;
              background: $white;
              padding: 0.5rem 1rem;
              height: 10rem;
              resize: none;
              outline: none;
              box-shadow: inset 1px 1px 5px rgb(201, 202, 204);
            }

            .inputs {
              margin: 1rem 0 2rem 0;
              width: 100%;
              display: flex;
              justify-content: space-between;

              input {
                width: 49%;
                background: $white;
                height: 3rem;
                outline: none;
                padding: 0.5rem 1rem;
                box-shadow: inset 1px 1px 5px rgb(201, 202, 204);
              }
            }

            a {
              color: $white;
              padding: 0.7rem 1.5rem;
              background: $primary;
              border-radius: 0.1rem;
              text-transform: uppercase;

              &:hover {
                background: $text;
                /*Shop Details End*/
              }
            }
          }
        }
      }
    }

    .shop-main {
      /*Shop Sidebar Start*/
      width: 100%;
      margin-top: 8vh;

      .shop-sidebar {
        width: 95%;
        margin-top: 1rem auto;
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;

        .sidebar-left {
          width: 20%;

          h4 {
            font-size: 1.3rem;
            margin-bottom: 0.5rem;
          }
          .category {
            margin: 1rem 0 2rem 0;
            box-shadow: inset 2px 2px 3px rgb(201, 202, 204);
            padding: 1rem;
            background: $white;

            ul {
              padding: 0;
              margin: 0.5rem 0 0 0;

              li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 1rem 0;
                color: $tertiary;

                a {
                  background: white;
                  color: $tertiary;
                  font-size: 0.9rem;
                  font-weight: 500;
                  padding: 0 0.3rem;
                  box-shadow: 1px 1px 3px rgb(201, 202, 204);
                }
              }
            }
          }

          .filter {
            margin: 1rem 0 2rem 0;
            box-shadow: inset 2px 2px 3px rgb(201, 202, 204);
            padding: 1rem;
            background: $white;

            .range-slider {
              width: 100%;
              height: 3rem;
              margin-top: 2rem;
              position: relative;

              span {
                background: $primary;
                padding: 0.5rem;
                color: white;
                position: absolute;
                top: 0;
              }

              .field {
                display: flex;
                justify-content: space-between;
                position: relative;
                height: 100%;
                margin-top: 2rem;

                .min-value,
                .max-value {
                  position: absolute;
                  bottom: 0.6rem;
                  color: $primary;
                }

                .min-value {
                  left: 0;
                }

                .max-value {
                  right: 0;
                }

                input {
                  -webkit-appearance: none;
                  height: 0.5rem;
                  width: 100%;
                  margin: 0.5rem 0;
                  background: $primary;
                  border-radius: 0.2rem;
                  outline: none;
                  border: none;
                }
              }
            }
          }

          .new-product {
            margin: 1rem 0 2rem 0;
            box-shadow: inset 2px 2px 3px rgb(201, 202, 204);
            padding: 1rem 0 2rem 0;
            background: $white;
            height: 40rem;
            position: relative;

            h4 {
              margin-left: 1rem;
            }

            .swiper-container {
              width: 100%;
              height: 100%;
              padding: 1rem 1rem 1.4rem 1rem;
              overflow: hidden;

              .swiper-slide {
                text-align: center;
                font-size: 1rem;
                padding: 1rem 0;
                background: #fff;
                display: flex;
                justify-content: space-around;
                align-items: center;
                box-shadow: 1px 1px 5px rgb(201, 202, 204);

                a {
                  display: flex;
                  justify-content: space-between;
                  width: 90%;
                  background: transparent;
                  color: $primary;

                  &:hover {
                    img {
                      transform: rotateY(180deg);
                    }
                  }

                  img {
                    width: 50%;
                    object-fit: contain;
                    transition: 0.5s ease;
                  }

                  .desc {
                    padding: 0;
                    text-align: left;

                    .rate {
                      font-size: 0.8rem;
                      margin: 0.5rem 0;
                    }

                    p {
                      margin: 0.5rem 0;
                      font-size: 0.9rem;
                      font-weight: 500;
                      color: $text;
                    }

                    span {
                      font-weight: 500;
                    }
                  }
                }
              }

              .swiper-button-next,
              .swiper-button-prev {
                position: absolute;
                top: 99%;
                left: 47%;
                font-size: 1rem;
                transform: rotate(90deg);
                overflow: hidden;
                height: 1rem;
                width: 1.5rem;
                color: rgb(201, 202, 204);
                text-align: center;

                &:hover {
                  color: $text;
                }
              }

              .swiper-button-prev {
                top: 4.8rem;
              }
            }
          }

          .brand {
            margin: 1rem 0 2rem 0;
            box-shadow: inset 2px 2px 3px rgb(201, 202, 204);
            padding: 1rem;
            background: $white;

            .pick {
              padding-bottom: 1.5rem;
              margin-bottom: 1rem;
              display: flex;
              flex-direction: column;
              border-bottom: 1px solid rgb(201, 202, 204);

              span {
                margin: 0.5rem 0 0 0;
                background: white;
                box-shadow: 2px 2px 3px rgb(201, 202, 204);
                padding: 0.5rem;
                border-radius: 0.1rem;
                font-weight: 500;
                color: $tertiary;

                &:hover {
                  background: $white;
                  outline: 1px solid $tertiary;
                }
              }
            }

            .size {
              width: 100%;
              margin: 1rem 0 2rem 0;
              padding: 1rem;
              padding-bottom: 1.5rem;
              border-bottom: 1px solid rgb(201, 202, 204);

              .links {
                background: white;
                box-shadow: 2px 2px 3px rgb(201, 202, 204);
                padding: 0.5rem;
                display: flex;
                justify-content: space-around;

                a {
                  height: 2rem;
                  width: 2rem;
                  padding: auto;
                  text-align: center;
                  box-shadow: 0 0 0 2px rgb(201, 202, 204);
                  border-radius: 0;

                  &:hover {
                    box-shadow: 0 0 0 2px $primary;
                  }
                }
              }
            }

            .color {
              padding: 1rem;

              ul {
                width: 100%;
                background: white;
                box-shadow: 2px 2px 3px rgb(201, 202, 204);
                padding: 0.5rem;
                display: flex;
                justify-content: space-around;
                list-style: none;

                a {
                  height: 2rem;
                  width: 2rem;
                  box-shadow: 0 0 0 2px rgb(201, 202, 204);
                  border-radius: 0;
                  border-radius: 50%;

                  &:hover {
                    transform: scale(1.1);
                  }
                }

                .green {
                  background: $primary;

                  &:hover {
                    transform: scale(1.1);
                    background: #3cd46f;
                  }
                }

                .red {
                  background: tomato;

                  &:hover {
                    transform: scale(1.1);
                    background: #fc3e3e;
                  }
                }

                .blue {
                  background: dodgerblue;

                  &:hover {
                    transform: scale(1.1);
                    background: #456acf;
                  }
                }

                .yellow {
                  background: gold;

                  &:hover {
                    transform: scale(1.1);
                    background: #f7ea37;
                  }
                }
              }
            }
          }
        }

        .sidebar-right {
          width: 75%;

          .right-top {
            margin: 0.5rem 0 1rem 0;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding: 0 0.5rem 0 0;

            span {
              color: $tertiary;

              &:nth-child(2) {
                display: flex;

                a {
                  font-size: 1.5rem;
                  background: $white;
                  margin-right: 0.5rem;
                  padding: 0.5rem 1rem;
                  color: $tertiary;

                  &:hover {
                    background: $primary;
                    color: $white;
                  }
                }

                .active {
                  background: $primary;
                  color: $white;
                }

                .options {
                  padding: 0.8rem 1.5rem;
                  margin-left: 1rem;
                  background: $white;

                  select {
                    outline: none;
                    background: $white;
                    color: $tertiary;
                  }
                }
              }
            }
          }
          .right-main {
            .products {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              gap: 3rem;
              margin-bottom: 2rem;

              > div {
                transition: 0.5s ease;
                position: relative;
                text-align: center;

                &:hover {
                  transform: scale(1.05);

                  .view-icons {
                    animation: fade-in 0.5s forwards 0.5s;
                    transform: rotateY(180deg);
                  }

                  .img-box {
                    transform: rotateY(180deg);
                  }
                }

                .img-box {
                  padding: 0;
                  box-shadow: 2px 2px 10px rgb(201, 202, 204);
                  position: relative;
                  transform-style: preserve-3d;
                  transition: all 0.7s ease;

                  img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    backface-visibility: hidden;
                  }

                  .back {
                    position: absolute;
                    top: 0;
                    backface-visibility: hidden;
                    transform: rotateY(180deg);
                  }
                }

                .view-icons {
                  position: absolute;
                  bottom: 0;
                  right: 2.5%;
                  width: 95%;
                  margin-bottom: 0.5rem;
                  border-radius: 0.2rem;
                  height: 4rem;
                  opacity: 0;
                  background: white;
                  display: flex;
                  align-items: center;
                  justify-content: space-evenly;
                  padding: 0.2rem 0;
                  transition: 0.5s linear;
                  transform-style: preserve-3d;

                  a {
                    padding: 0.5rem 1rem;
                    box-shadow: 1px 1px 5px rgb(201, 202, 204);
                    color: $primary;
                    transition: 0.4s ease;

                    &:hover {
                      background: $primary;
                      color: $white;
                      transform: translateY(-0.5rem);
                    }
                  }
                }

                p {
                  margin: 1rem 0 0 0;
                  font-weight: 500;
                  color: $text;
                }

                .rating {
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  a {
                    font-weight: 500;
                    background: transparent;
                    margin-right: 0.5rem;

                    &:hover {
                      color: $primary;
                    }
                  }

                  del {
                    font-size: 1rem;
                    color: $tertiary;
                  }
                }
                .prices {
                  i {
                    color: $tertiary;
                    font-size: 0.9rem;
                  }
                }
              }
            }

            .pagination {
              width: 100%;
              background: $white;
              padding: 1rem 0;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 0.2rem;

              a {
                font-size: 1.2rem;
                margin: 0 1rem;
                text-align: center;
                height: 2.5rem;
                width: 2.5rem;
                border-radius: 50%;
              }

              .prev,
              .next {
                font-size: 2.2rem;
                margin: 0 2rem;
                background: none;
                height: 3.7rem;
                width: 3.7rem;
                border-radius: 50%;
                color: $tertiary;

                &:hover {
                  background: $tertiary;
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
  }
}
