* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -msbox-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100vw;
}

body main {
  padding-top: 9vh;
}

body main h1 {
  font-size: 4rem;
  margin: -4rem 0 0 0;
}

body main a {
  padding: 0.2rem 0.3rem;
  margin-bottom: 3rem auto;
  color: #048a10;
  text-decoration: none;
  border-radius: 0.1rem;
  font-size: 1rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

body main a:hover {
  color: #f5f5f5;
  background: #048a10;
}

body main .shop {
  /*Shop Details start*/
  width: 100vw;
  text-align: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body main .shop .shop-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 1rem;
}

body main .shop .shop-container .side-pane {
  width: 15%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body main .shop .shop-container .side-pane a {
  background: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 1px 1px 5px #c9cacc;
  box-shadow: 1px 1px 5px #c9cacc;
  margin: 0.5rem 0;
  padding: 0.1rem;
  overflow: hidden;
}

body main .shop .shop-container .side-pane a img {
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body main .shop .shop-container .side-pane a:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 1000px) {
  body main .shop .shop-container {
    width: 95%;
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  body main .shop .shop-container .side-pane {
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    gap: 2%;
    width: 100%;
  }
}

body main .shop .shop-container .main-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body main .shop .shop-container .main-details .main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 2rem auto;
}

body main .shop .shop-container .main-details .main-box > a {
  background: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 1px 1px 5px #c9cacc;
  box-shadow: 1px 1px 5px #c9cacc;
  margin: 0.5rem 0;
  padding: 0.5rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
}

body main .shop .shop-container .main-details .main-box > a:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

body main .shop .shop-container .main-details .main-box > a img {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body main .shop .shop-container .main-details .main-box .img-info {
  text-align: left;
  padding: 1rem;
  width: 45%;
  margin-right: 1rem;
}

@media (max-width: 1000px) {
  body main .shop .shop-container .main-details .main-box .img-info {
    width: 100%;
  }
}

body main .shop .shop-container .main-details .main-box .img-info > a {
  background: #048a10;
  color: #f5f5f5;
  padding: 0.2rem 0.5rem;
}

body main .shop .shop-container .main-details .main-box .img-info h3 {
  margin: 1rem 0;
}

body main .shop .shop-container .main-details .main-box .img-info .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

body main .shop .shop-container .main-details .main-box .img-info .rate .stars {
  color: #048a10;
  margin-right: 1rem;
}

body main .shop .shop-container .main-details .main-box .img-info .rate span {
  color: #858282;
  font-weight: 500;
}

body main .shop .shop-container .main-details .main-box .img-info .pricing {
  margin: 2rem 0;
}

body
  main
  .shop
  .shop-container
  .main-details
  .main-box
  .img-info
  .pricing
  span {
  color: #048a10;
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 1rem;
}

body main .shop .shop-container .main-details .main-box .img-info .pricing del {
  color: #858282;
}

body main .shop .shop-container .main-details .main-box .img-info p {
  color: #858282;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

body main .shop .shop-container .main-details .main-box .img-info .sizes {
  margin: 2.5rem 0;
}

body main .shop .shop-container .main-details .main-box .img-info .sizes span {
  color: #858282;
}

body
  main
  .shop
  .shop-container
  .main-details
  .main-box
  .img-info
  .sizes
  .size-boxes {
  margin: 0.5rem 0;
}

body
  main
  .shop
  .shop-container
  .main-details
  .main-box
  .img-info
  .sizes
  .size-boxes
  a {
  border: 1px solid #858282;
  color: #858282;
  padding: 0.2rem 0.7rem;
  margin-right: 0.3rem;
}

body
  main
  .shop
  .shop-container
  .main-details
  .main-box
  .img-info
  .sizes
  .size-boxes
  a:hover {
  background: #262726;
  color: #f5f5f5;
}

body main .shop .shop-container .main-details .main-box .img-info .amount {
  margin: 2rem 0;
  width: 14rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body
  main
  .shop
  .shop-container
  .main-details
  .main-box
  .img-info
  .amount
  input {
  width: 55%;
  height: 100%;
  background: #f5f5f5;
  padding: 0 1rem;
  border-radius: 0.2rem;
  outline: none;
  text-align: center;
  -webkit-box-shadow: inset 1px 1px 5px #c9cacc;
  box-shadow: inset 1px 1px 5px #c9cacc;
}

body main .shop .shop-container .main-details .main-box .img-info .amount a {
  background: #048a10;
  color: #f5f5f5;
  padding: 0.5rem;
  border-radius: 0.1rem;
}

body
  main
  .shop
  .shop-container
  .main-details
  .main-box
  .img-info
  .amount
  a:hover {
  background: #262726;
}

body main .shop .shop-container .main-details .main-box .img-info .wish {
  margin: 0;
  padding: 1.5rem 0;
}

body main .shop .shop-container .main-details .main-box .img-info .wish a {
  color: #000000;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

body
  main
  .shop
  .shop-container
  .main-details
  .main-box
  .img-info
  .wish
  a:hover {
  border: 1px solid #000000;
  background: transparent;
}

body main .shop .shop-container .main-details .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-top: 0.5rem;
}

body main .shop .shop-container .main-details .gallery a {
  background: white;
  -webkit-box-shadow: 1px 1px 5px #c9cacc;
  box-shadow: 1px 1px 5px #c9cacc;
  padding: 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

body main .shop .shop-container .main-details .gallery a:hover img {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

body main .shop .shop-container .main-details .gallery a img {
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body main .shop .shop-container .main-details .hide {
  display: none;
}

body main .shop-extra {
  min-height: 70vh;
  margin-top: 1rem;
  padding: 1rem 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

body main .shop-extra > ul {
  border-bottom: 1px solid #c9cacc;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 0 7rem;
  gap: 5%;
}

body main .shop-extra > ul a {
  height: 2.5rem;
  font-size: clamp(0.7rem, 1.2vw, 1.3rem);
  font-weight: 500;
  color: #858282;
  background: transparent;
  position: relative;
}

body main .active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.01rem;
  background: #048a10;
}

@media (max-width: 900px) {
  body main .shop-extra > ul {
    padding: 0;
  }

  body main .shop-extra > ul a {
    font-weight: 700;
  }
}

body main .shop-extra .extra-box h3 {
  margin: 1rem 0;
}

body main .shop-extra .extra-box .extra-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
}

body main .shop-extra .extra-box img {
  margin: 1rem 0;
  width: 20rem;
}

body main .shop-extra .extra-box .extra-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex: 1 1 60%;
  margin-left: 1rem;
}

body main .shop-extra .extra-box .extra-desc p {
  color: #858282;
  font-size: 0.9rem;
  line-height: 2;
}

body main .shop-extra .extra-box .extra-desc ul {
  list-style: circle;
  padding: 0 1rem;
}

body main .shop-extra .extra-box .extra-desc ul li {
  color: #858282;
  font-weight: 500;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

body main .shop-extra .extra-banner {
  width: 100%;
  margin: 1rem 0;
  position: relative;
}

body main .shop-extra .extra-banner img {
  width: 100%;
}

body main .shop-extra .extra-banner span {
  position: absolute;
  bottom: 15%;
  background: #f9f5f4;
  right: 3%;
  color: #262726;
  font-size: clamp(1rem, 3vw, 3.5rem);
}

body main .viewers {
  width: 90%;
  margin: 1rem auto;
  padding: 1rem 0.5rem;
}

body main .viewers .swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

body main .viewers .swiper-container h3 {
  margin: 1rem 3.4rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #dededf;
}

body main .viewers .swiper-container .swiper-button-next,
body main .viewers .swiper-container .swiper-button-prev {
  position: absolute;
  top: 3rem;
  color: #dededf;
  height: 1rem;
  overflow: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body main .viewers .swiper-container .swiper-button-next:hover,
body main .viewers .swiper-container .swiper-button-prev:hover {
  color: #262726;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

body main .viewers .swiper-container .swiper-button-next {
  left: 70%;
}

body main .viewers .swiper-container .swiper-button-prev {
  left: 25%;
}

body main .viewers .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body main .viewers .swiper-container .swiper-slide > div {
  margin: 1rem 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: relative;
}

body main .viewers .swiper-container .swiper-slide > div:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

body main .viewers .swiper-container .swiper-slide > div:hover .view-icons {
  -webkit-animation: fade-in 0.5s forwards 0.5s;
  animation: fade-in 0.5s forwards 0.5s;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

body main .viewers .swiper-container .swiper-slide > div:hover .img-box {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

body main .viewers .swiper-container .swiper-slide > div .img-box {
  padding: 0;
  -webkit-box-shadow: 2px 2px 10px #c9cacc;
  box-shadow: 2px 2px 10px #c9cacc;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

body main .viewers .swiper-container .swiper-slide > div .img-box img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

body main .viewers .swiper-container .swiper-slide > div .img-box .back {
  position: absolute;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

body main .viewers .swiper-container .swiper-slide > div .view-icons {
  position: absolute;
  bottom: 0;
  right: 2.5%;
  width: 95%;
  opacity: 0;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  height: 4rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 0.2rem 0;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@media (max-width: 1200px) {
  body main .viewers .swiper-container h3 {
    margin: 1rem auto;
  }

  body main .viewers .swiper-container .swiper-button-next,
  body main .viewers .swiper-container .swiper-button-prev {
    top: 4.2rem;
  }

  body main .viewers .swiper-container .swiper-slide > div .view-icons {
    opacity: 1;
  }
}

body main .viewers .swiper-container .swiper-slide > div .view-icons a {
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 1px 1px 5px #c9cacc;
  box-shadow: 1px 1px 5px #c9cacc;
  color: #048a10;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

body main .viewers .swiper-container .swiper-slide > div .view-icons a:hover {
  background: #048a10;
  color: #f5f5f5;
  -webkit-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem);
}

body main .viewers .swiper-container .swiper-slide > div p {
  margin: 1rem 0 0 0;
  font-weight: 500;
  color: #262726;
}

body main .viewers .swiper-container .swiper-slide > div .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body main .viewers .swiper-container .swiper-slide > div .rating a {
  font-weight: 500;
  background: transparent;
  margin-right: 0.5rem;
}

body main .viewers .swiper-container .swiper-slide > div .rating a:hover {
  color: #048a10;
}

body main .viewers .swiper-container .swiper-slide > div .rating del {
  font-size: 1rem;
  color: #858282;
}

body main .viewers .swiper-container .swiper-slide > div .prices i {
  color: #048a10;
  font-size: 0.9rem;
}

body main #reviews {
  width: 85%;
  padding: 1rem;
}

body main #reviews h3 {
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dededf;
}

body main #reviews .review-box > span {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1rem 0;
}

body main #reviews .review-box .child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  body main #reviews {
    width: 95%;
  }

  body main #reviews .review-box .child {
    padding: 0;
  }
}

body main #reviews .review-box .child .left {
  flex: 1 1 45rem;
}

body main #reviews .review-box .child .left .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0.5rem 0;
}

body main #reviews .review-box .child .left .review img {
  height: 4.5rem;
  margin-right: 1rem;
}

body main #reviews .review-box .child .left .review .text {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body main #reviews .review-box .child .left .review .text .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

body main #reviews .review-box .child .left .review .text .head h5 {
  margin: 0 1rem 0 0;
}

body main #reviews .review-box .child .left .review .text .head span {
  color: #858282;
  font-weight: 500;
  font-size: 0.9rem;
}

body main #reviews .review-box .child .left .review .text p {
  color: #858282;
  font-size: 0.8rem;
  line-height: 1.5;
  margin: 0;
}

body main #reviews .review-box .child .left .review .text .stars {
  font-size: 0.8rem;
  color: #048a10;
}

body main #reviews .review-box .child .right {
  flex: 1 1 30rem;
  padding: 1rem;
}

body main #reviews .review-box .child .right p {
  color: #858282;
  font-size: 0.8rem;
}

body main #reviews .review-box .child .right h5 {
  margin: 1rem 0;
}

body main #reviews .review-box .child .right .stars {
  margin: 1rem 0;
  width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

body
  main
  #reviews
  .review-box
  .child
  .right
  .stars
  input:checked
  ~ label::after,
body main #reviews .review-box .child .right .stars label:hover ~ label::after {
  opacity: 1;
}

body main #reviews .review-box .child .right .stars input {
  display: none;
}

body main #reviews .review-box .child .right .stars label {
  display: block;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  position: relative;
}

body main #reviews .review-box .child .right .stars label:hover::after {
  opacity: 1;
}

body main #reviews .review-box .child .right .stars label::before {
  content: '\2606';
  font-size: 2rem;
  width: 100%;
  position: absolute;
  top: -0.6rem;
  left: 0.2rem;
  color: #048a10;
}

body main #reviews .review-box .child .right .stars label::after {
  content: '\2605';
  font-size: 2rem;
  width: 100%;
  position: absolute;
  top: -0.6rem;
  left: 0.2rem;
  color: #048a10;
  opacity: 0;
  -webkit-transition: 0.2 s ease;
  transition: 0.2 s ease;
  text-shadow: 0 1px 5px #697e69;
}

body main #reviews .review-box .child .right textarea {
  width: 100%;
  background: #f5f5f5;
  padding: 0.5rem 1rem;
  height: 10rem;
  resize: none;
  outline: none;
  -webkit-box-shadow: inset 1px 1px 5px #c9cacc;
  box-shadow: inset 1px 1px 5px #c9cacc;
}

body main #reviews .review-box .child .right .inputs {
  margin: 1rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1rem;
}

@media (max-width: 600px) {
  body main #reviews {
    padding: 1rem 0;
  }

  body main #reviews .review-box .child .right {
    padding: 0;
  }
}

body main #reviews .review-box .child .right .inputs input {
  width: 100%;
  background: #f5f5f5;
  height: 3rem;
  outline: none;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: inset 1px 1px 5px #c9cacc;
  box-shadow: inset 1px 1px 5px #c9cacc;
}

body main #reviews .review-box .child .right a {
  color: #f5f5f5;
  padding: 0.7rem 1.5rem;
  background: #048a10;
  border-radius: 0.1rem;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  body main #reviews .review-box .child .right .inputs input {
    height: 2.7rem;
  }

  body main #reviews .review-box .child .right a {
    padding: 0.5rem 1rem;
  }
}

body main #reviews .review-box .child .right a:hover {
  background: #262726;
  /*Shop Details End*/
}

body main .shop-main {
  /*Shop Sidebar Start*/
  width: 100%;
  margin-top: 8vh;
}

body main .shop-main .shop-sidebar {
  width: 100%;
  margin-top: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem 2rem;
  flex-wrap: wrap-reverse;
}

body main .shop-main .shop-sidebar .sidebar-left {
  width: min(18rem, 90%);
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 0;
}

body main .shop-main .shop-sidebar .sidebar-left h4 {
  font-size: 1.3rem;
}

body main .shop-main .shop-sidebar .sidebar-left .category {
  -webkit-box-shadow: inset 2px 2px 3px #c9cacc;
  box-shadow: inset 2px 2px 3px #c9cacc;
  padding: 1rem;
  background: #f5f5f5;
}

body main .shop-main .shop-sidebar .sidebar-left .category ul {
  padding: 0;
}

body main .shop-main .shop-sidebar .sidebar-left .category ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #858282;
}

body main .shop-main .shop-sidebar .sidebar-left .category ul li a {
  background: white;
  color: #858282;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0.5rem 0;
  padding: 0 0.3rem;
  -webkit-box-shadow: 1px 1px 3px #c9cacc;
  box-shadow: 1px 1px 3px #c9cacc;
}

body main .shop-main .shop-sidebar .sidebar-left .filter {
  -webkit-box-shadow: inset 2px 2px 3px #c9cacc;
  box-shadow: inset 2px 2px 3px #c9cacc;
  padding: 1rem;
  background: #f5f5f5;
}

body main .shop-main .shop-sidebar .sidebar-left .filter .range-slider {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  position: relative;
}

body main .shop-main .shop-sidebar .sidebar-left .filter .range-slider span {
  background: #048a10;
  padding: 0.5rem;
  color: white;
  position: absolute;
  top: 0;
}

body main .shop-main .shop-sidebar .sidebar-left .filter .range-slider .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  height: 100%;
  margin-top: 2rem;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .filter
  .range-slider
  .field
  .min-value,
body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .filter
  .range-slider
  .field
  .max-value {
  position: absolute;
  bottom: 0.6rem;
  color: #048a10;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .filter
  .range-slider
  .field
  .min-value {
  left: 0;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .filter
  .range-slider
  .field
  .max-value {
  right: 0;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .filter
  .range-slider
  .field
  input {
  -webkit-appearance: none;
  height: 0.5rem;
  width: 100%;
  margin: 0.5rem 0;
  background: #048a10;
  border-radius: 0.2rem;
  outline: none;
  border: none;
}

body main .shop-main .shop-sidebar .sidebar-left .new-product {
  -webkit-box-shadow: inset 2px 2px 3px #c9cacc;
  box-shadow: inset 2px 2px 3px #c9cacc;
  padding: 1rem 0 2rem 0;
  background: #f5f5f5;
  height: 40rem;
  position: relative;
}

body main .shop-main .shop-sidebar .sidebar-left .new-product h4 {
  margin-left: 1rem;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .new-product
  .swiper-container {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1.4rem 1rem;
  overflow: hidden;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .new-product
  .swiper-container
  .swiper-slide {
  text-align: center;
  font-size: 1rem;
  padding: 1rem 0;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 1px 1px 5px #c9cacc;
  box-shadow: 1px 1px 5px #c9cacc;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .new-product
  .swiper-container
  .swiper-slide
  a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 90%;
  background: transparent;
  color: #048a10;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .new-product
  .swiper-container
  .swiper-slide
  a:hover
  img {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .new-product
  .swiper-container
  .swiper-slide
  a
  img {
  width: 50%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .new-product
  .swiper-container
  .swiper-slide
  a
  .desc {
  padding: 0;
  text-align: left;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .new-product
  .swiper-container
  .swiper-slide
  a
  .desc
  .rate {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .new-product
  .swiper-container
  .swiper-slide
  a
  .desc
  p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: #262726;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .new-product
  .swiper-container
  .swiper-slide
  a
  .desc
  span {
  font-weight: 500;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .new-product
  .swiper-container
  .swiper-button-next,
body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .new-product
  .swiper-container
  .swiper-button-prev {
  position: absolute;
  top: 99%;
  left: 47%;
  font-size: 1rem;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  overflow: hidden;
  height: 1rem;
  width: 1.5rem;
  color: #c9cacc;
  text-align: center;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .new-product
  .swiper-container
  .swiper-button-next:hover,
body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .new-product
  .swiper-container
  .swiper-button-prev:hover {
  color: #262726;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .new-product
  .swiper-container
  .swiper-button-prev {
  top: 4.8rem;
}

body main .shop-main .shop-sidebar .sidebar-left .brand {
  margin: 1rem 0;
  -webkit-box-shadow: inset 2px 2px 3px #c9cacc;
  box-shadow: inset 2px 2px 3px #c9cacc;
  padding: 1rem;
  background: #f5f5f5;
}

body main .shop-main .shop-sidebar .sidebar-left .brand .pick {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px solid #c9cacc;
}

body main .shop-main .shop-sidebar .sidebar-left .brand .pick span {
  margin: 0.5rem 0 0 0;
  background: white;
  -webkit-box-shadow: 2px 2px 3px #c9cacc;
  box-shadow: 2px 2px 3px #c9cacc;
  padding: 0.5rem;
  border-radius: 0.1rem;
  font-weight: 500;
  color: #858282;
}

body main .shop-main .shop-sidebar .sidebar-left .brand .pick span:hover {
  background: #f5f5f5;
  outline: 1px solid #858282;
}

body main .shop-main .shop-sidebar .sidebar-left .brand .size {
  width: 100%;
  margin: 1rem 0 2rem 0;
  padding: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #c9cacc;
}

body main .shop-main .shop-sidebar .sidebar-left .brand .size .links {
  background: white;
  -webkit-box-shadow: 2px 2px 3px #c9cacc;
  box-shadow: 2px 2px 3px #c9cacc;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

body main .shop-main .shop-sidebar .sidebar-left .brand .size .links a {
  height: 2rem;
  width: 2rem;
  padding: auto;
  text-align: center;
  -webkit-box-shadow: 0 0 0 2px #c9cacc;
  box-shadow: 0 0 0 2px #c9cacc;
  border-radius: 0;
}

body main .shop-main .shop-sidebar .sidebar-left .brand .size .links a:hover {
  -webkit-box-shadow: 0 0 0 2px #048a10;
  box-shadow: 0 0 0 2px #048a10;
}

body main .shop-main .shop-sidebar .sidebar-left .brand .color {
  padding: 1rem;
}

body main .shop-main .shop-sidebar .sidebar-left .brand .color ul {
  width: 100%;
  background: white;
  -webkit-box-shadow: 2px 2px 3px #c9cacc;
  box-shadow: 2px 2px 3px #c9cacc;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
}

body main .shop-main .shop-sidebar .sidebar-left .brand .color ul a {
  height: 2rem;
  width: 2rem;
  -webkit-box-shadow: 0 0 0 2px #c9cacc;
  box-shadow: 0 0 0 2px #c9cacc;
  border-radius: 0;
  border-radius: 50%;
}

body main .shop-main .shop-sidebar .sidebar-left .brand .color ul a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

body main .shop-main .shop-sidebar .sidebar-left .brand .color ul .green {
  background: #048a10;
}

body main .shop-main .shop-sidebar .sidebar-left .brand .color ul .green:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background: #3cd46f;
}

body main .shop-main .shop-sidebar .sidebar-left .brand .color ul .red {
  background: tomato;
}

body main .shop-main .shop-sidebar .sidebar-left .brand .color ul .red:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background: #fc3e3e;
}

body main .shop-main .shop-sidebar .sidebar-left .brand .color ul .blue {
  background: dodgerblue;
}

body main .shop-main .shop-sidebar .sidebar-left .brand .color ul .blue:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background: #456acf;
}

body main .shop-main .shop-sidebar .sidebar-left .brand .color ul .yellow {
  background: gold;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-left
  .brand
  .color
  ul
  .yellow:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background: #f7ea37;
}

body main .shop-main .shop-sidebar .sidebar-right {
  width: 75%;
  margin: auto;
}

@media (max-width: 1400px) {
  body main .shop-main .shop-sidebar .sidebar-right {
    width: 95%;
  }
}

body main .shop-main .shop-sidebar .sidebar-right .right-top {
  margin: 0.5rem 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 0.5rem;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  gap: 42%;
}

body main .shop-main .shop-sidebar .sidebar-right .right-top span {
  color: #858282;
  margin: 0.5rem;
}

@media (max-width: 400px) {
  body main .shop-main .shop-sidebar .sidebar-right .right-top {
    padding: 0.5rem 0;
  }
}

body main .shop-main .shop-sidebar .sidebar-right .right-top span:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-top
  span:nth-child(2)
  a {
  font-size: 1.5rem;
  background: #f5f5f5;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  color: #858282;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-top
  span:nth-child(2)
  a:hover {
  background: #048a10;
  color: #f5f5f5;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-top
  span:nth-child(2)
  .active {
  background: #048a10;
  color: #f5f5f5;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-top
  span:nth-child(2)
  .options {
  padding: 0.8rem 1.5rem;
  margin-left: 1rem;
  background: #f5f5f5;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-top
  span:nth-child(2)
  .options
  select {
  outline: none;
  background: #f5f5f5;
  color: #858282;
}

body main .shop-main .shop-sidebar .sidebar-right .right-main .products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto-fill;
  grid-template-columns: repeat(auto-fit, 20rem);
  gap: 3rem;
  margin-bottom: 2rem;
  justify-content: center;
}

body main .shop-main .shop-sidebar .sidebar-right .right-main .products > div {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: relative;
  text-align: center;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-main
  .products
  > div:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-main
  .products
  > div:hover
  .view-icons {
  -webkit-animation: fade-in 0.5s forwards 0.5s;
  animation: fade-in 0.5s forwards 0.5s;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-main
  .products
  > div:hover
  .img-box {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-main
  .products
  > div
  .img-box {
  padding: 0;
  -webkit-box-shadow: 2px 2px 10px #c9cacc;
  box-shadow: 2px 2px 10px #c9cacc;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-main
  .products
  > div
  .img-box
  img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-main
  .products
  > div
  .img-box
  .back {
  position: absolute;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-main
  .products
  > div
  .view-icons {
  position: absolute;
  bottom: 0;
  right: 2.5%;
  width: 95%;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  height: 4rem;
  opacity: 0;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 0.2rem 0;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@media (max-width: 800px) {
  body
    main
    .shop-main
    .shop-sidebar
    .sidebar-right
    .right-main
    .products
    > div
    .view-icons {
    opacity: 1;
  }
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-main
  .products
  > div
  .view-icons
  a {
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 1px 1px 5px #c9cacc;
  box-shadow: 1px 1px 5px #c9cacc;
  color: #048a10;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-main
  .products
  > div
  .view-icons
  a:hover {
  background: #048a10;
  color: #f5f5f5;
  -webkit-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem);
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-main
  .products
  > div
  p {
  margin: 1rem 0 0 0;
  font-weight: 500;
  color: #262726;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-main
  .products
  > div
  .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-main
  .products
  > div
  .rating
  a {
  font-weight: 500;
  background: transparent;
  margin-right: 0.5rem;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-main
  .products
  > div
  .rating
  a:hover {
  color: #048a10;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-main
  .products
  > div
  .rating
  del {
  font-size: 1rem;
  color: #858282;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-main
  .products
  > div
  .prices
  i {
  color: #048a10;
  font-size: 0.9rem;
}

body main .shop-main .shop-sidebar .sidebar-right .right-main .pagination {
  width: 100%;
  background: #f5f5f5;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.2rem;
  gap: 5%;
}

body main .shop-main .shop-sidebar .sidebar-right .right-main .pagination a {
  font-size: 1rem;
  text-align: center;
  height: 10%;
  width: 10%;
  background: #f5f5f5;
  color: #048a10;
}

body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-main
  .pagination
  a:hover {
  transform: scale(1.2);
}

body main .shop-main .shop-sidebar .sidebar-right .right-main .pagination .prev,
body
  main
  .shop-main
  .shop-sidebar
  .sidebar-right
  .right-main
  .pagination
  .next {
  font-size: 2.2rem;
  background: none;
  margin: auto 5%;
  height: 3.7rem;
  width: 3.7rem;
  color: #048a10;
}

body .special-offer h1 {
  font-size: clamp(3rem, 5vw, 6rem);
  margin: 1rem auto;
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .special-offer h1::after {
  content: '';
  margin: auto;
  position: absolute;
  bottom: -25%;
  left: 0;
  width: 100%;
  height: 30px;
  background: url(/Images/images/title_shape.png) no-repeat;
  background-position: center;
}

body .special-offer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-wrap: wrap;
}

body .special-offer .info .text {
  line-height: 1;
  margin: auto;
}

body .special-offer .info .text h3 {
  font-size: clamp(3.5rem, 5vw, 6rem);
  margin: 0;
  text-transform: uppercase;
  background: linear-gradient(
    45deg,
    #048a10,
    #56ab2f,
    #a8e063,
    #f1d742,
    #ff9966,
    #ff5e62
  );
  background-size: 600%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-animation: text-bg 15s infinite alternate;
  animation: text-bg 15s infinite alternate;
}

body .special-offer .info .text p {
  color: #858282;
  font-size: clamp(1rem, 2vw, 4rem);
  font-weight: 500;
  text-transform: uppercase;
  background: linear-gradient(
    45deg,
    #048a10,
    #56ab2f,
    #a8e063,
    #f1d742,
    #ff9966,
    #ff5e62
  );
  background-size: 600%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-animation: text-bg 15s infinite alternate 7s;
  animation: text-bg 15s infinite alternate 7s;
}

body .special-offer .info .text p span {
  padding: 0.1rem 0.3rem;
  font-weight: 900;
  font-size: clamp(2rem, 3vw, 4rem);
}
